nav {
    width: 100%;
    height: 34px;
    background: #990000;
    margin: 0 auto;
    .warp-top {
        width: 1200px;
        height: 34px;
        margin: 0 auto;
        >a {
            float: right;
        }
        .classify {
            float: left;
            width: 190px;
            height: auto;
            z-index: 1;
            position: relative;
            h2 {
                background: #ce171f;
                font-size: 15px;
                font-weight: bold;
                text-align: center;
                line-height: 34px;
                a {
                    display: block;
                    color: #fff;
                    height: 34px;
                    width: 190px;
                }
            }
            >div {
                display: none;
                z-index: 4;
                position: absolute;
                float: left;
                height: 58px;
                width: 170px;
                font-size: 12px;
                padding: 10px;
                background: #fff;
                border-bottom: solid 1px #e4e4e4;
                &:hover {
                    background: #F1F1F1;
                    border-left: solid 2px #CC0000;
                    margin-left: -2px;
                    >div {
                        display: block
                    }
                }
                >h4 {
                    font-size: 14px;
                    margin: 3px 0;
                    text-indent: 25px;
                    display: flex;
                    align-content: center;
                    align-items: center;
                    i {
                        width: 14px;
                        height: 19px;
                        float: left;
                    }
                }
                >a {
                    display: block;
                    float: left;
                    color: #666666;
                    margin: 2px 6px;
                }
                b {
                    display: block;
                    background: #ff9900;
                    color: #fff;
                    border-radius: 2px;
                }
                >div {
                    width: 775px;
                    height: 470px;
                    position: absolute;
                    top: 0;
                    left: 190px;
                    background: #fff;
                    display: none;
                    >a {
                        width: 220px;
                        height: 470px;
                        float: left;
                    }
                    .ify-left {
                        width: 113px;
                        height: 470px;
                        background: #f1f1f1;
                        float: left;
                        p {
                            width: 113px;
                            text-align: center;
                            height: 37px;
                            line-height: 37px;
                        }
                        p:nth-child(1) {
                            height: 73px;
                            line-height: 73px;
                        }
                    }
                    .ify-left-wine {
                        width: 113px;
                        height: 470px;
                        background: #f1f1f1;
                        float: left;
                        p {
                            width: 113px;
                            text-align: center;
                            height: 37px;
                            line-height: 37px;
                        }
                        p:nth-child(5),
                        p:nth-child(7) {
                            height: 73px;
                            line-height: 73px;
                        }
                        p:nth-child(6) {
                            height: 110px;
                            line-height: 110px;
                        }
                    }
                    .ify-right {
                        float: left;
                        width: 442px;
                        ul {
                            width: 350px;
                            height: 470px;
                            margin: 0 auto;
                            li {
                                height: auto;
                                width: 350px;
                                border-bottom: solid 1px #cecece;
                                overflow: hidden;
                                a {
                                    display: block;
                                    padding: 10px;
                                    float: left;
                                    span {
                                        color: orangered;
                                    }
                                    &:hover {
                                        color: #CC0001;
                                    }
                                }
                            }
                        }
                    }
                    .ify-right-noimg {
                        float: left;
                        width: 662px;
                        ul {
                            width: 570px;
                            height: 470px;
                            margin: 0 auto;
                            li {
                                height: auto;
                                width: 570px;
                                border-bottom: solid 1px #cecece;
                                overflow: hidden;
                                a {
                                    display: block;
                                    padding: 10px;
                                    float: left;
                                    span {
                                        color: orangered;
                                    }
                                    &:hover {
                                        color: #CC0001;
                                    }
                                }
                            }
                        }
                    }
                    .ify-left-tea {
                        width: 113px;
                        height: 470px;
                        background: #f1f1f1;
                        float: left;
                        p {
                            width: 113px;
                            text-align: center;
                            height: 37px;
                            line-height: 37px;
                        }
                        p:nth-child(2) {
                            height: 73px;
                            line-height: 73px;
                        }
                    }
                    .ify-left-yangjiu {
                        width: 113px;
                        height: 470px;
                        background: #f1f1f1;
                        float: left;
                        p {
                            width: 113px;
                            text-align: center;
                            height: 73px;
                            line-height: 73px;
                        }
                        p:nth-child(3) {
                            height: 37px;
                            line-height: 37px;
                        }
                    }
                }
            }
        }
        .listbox {
            float: left;
            li {
                position: relative;
                float: left;
                a {
                    display: block;
                    padding: 0 20px;
                    color: #fff;
                    line-height: 34px;
                    font-size: 13px;
                    &:hover {
                        background: #b40c10;
                    }
                }
                i {
                    position: absolute;
                    width: 29px;
                    height: 17px;
                    top: -7px;
                    right: 3px;
                }
            }
        }
    }
}

section {
    width: 1200px;
    height: auto;
    margin: 0 auto;
    >a {
        display: block;
        width: 1200px;
        height: auto;
        height: 70px;
        margin: 10px 0;
        background: url(../img/ggq.jpg) no-repeat;
    }
    .list {
        width: 1200px;
        height: 30px;
        line-height: 30px;
        font-size: 12px;
        text-align: left;
        a {
            color: #666;
            &:hover {
                color: #CC0001;
                text-decoration: underline;
            }
        }
        i {
            padding: 5px;
        }
        span {
            color: #CC0001;
        }
    }
    .mag {
        margin: 10px 0;
        width: 1200px;
        height: 571px;
        border: solid 1px #cecece;
        .glap {
            float: left;
            width: 440px;
            height: 569px;
            position: relative;
            .midimg {
                position: relative;
                width: 440px;
                height: 440px;
                div{
                    width: 220px;
                    height: 220px;
                    background: yellow;
                    opacity: .4;
                    position: absolute;
                    left: 0;
                    top: 0;
                    display: none;
                    cursor: move;
                }
                img{
                    width: 440px;
                    height: 440px;
                }
            }
            .bigimg {
                display: none;
                position: absolute;
                width: 440px;
                height: 440px;
                left: 100%;
                top: 0;
                overflow: hidden;
                img{
                    width: 880px;
                    height: 880px;
                    position: absolute;
                }
            }
            .smlimg {
                width: 440px;
                height: 64px;
                display: flex;
                align-items: center;
                justify-content: space-around;
                i {
                    width: 13px;
                    height: 30px;
                    display: inline-block;
                    cursor: pointer;
                }
                ul {
                    display: inline-block;
                    li {
                        float: left;
                         height: 53px;
                        width: 53px;
                        padding: 5px;
                        margin: 0 3px;
                        cursor: pointer;
                         border: solid 2px #fff;
                         img{
                             width: 54px;
                             height: 54px;
                         }
                    }
                    .listz{
                        border: solid 2px #CC0000;
                    }
                }
            }
        }
        .xinxi{
            float: left;
            width: 528px;
            height: 533px;
            padding: 15px;
            h2{
                font-size: 19px;
                font-weight: bold;
            }
            >p{
                color: #c33;
                font-size: 14px;
                margin: 10px 0;
            }
            .xinxi-z{
                background: #fafafa;
                height: 134px;
                padding: 10px 0;
               >p:nth-of-type(1){
                    height: 30px;
                    font-size: 12px;
                    line-height: 30px;
                     i{
                        text-decoration: line-through;
                        color: #999;
                        margin-left: 20px;
                     }   
                    span{
                        margin: 0 10px;
                        color: #666;
                    }
                }
                >p:nth-of-type(2){
                    height: 30px;
                    font-size: 12px;
                    line-height: 30px;
                    i{
                        font-size: 30px;
                        color:#CC0001;
                        margin-left: 20px;
                        font-weight: bold;
                      }   
                    span{
                        float: left;
                        margin: 0 10px;
                        color: #666;
                        display: inline-block;
                    }
                }
                >div{
                    padding-top: 10px;
                    height: 70px;
                    font-size: 12px;
                    span{
                        float: left;
                        height: 70px;
                        margin: 0 10px;
                        color: #666;
                    }
                    p{
                        float: left;
                        margin-left: 20px;
                        margin-bottom: 20px;
                        a{
                            color: #666;
                        }
                        i{
                            margin: 0 15px;
                            color: #CC0001;
                        }
                        b{
                            color: #fff;
                            background: red;
                            padding: 2px;
                        }
                    }
                }
            }
            .xinxi-b{
                padding: 10px 0;
                font-size: 12px;
                p{
                    padding: 10px;
                    text-align: center;
                    border-bottom: dashed 1px #cecece;
                    span{
                        margin: 0 30px;
                        color: #666;
                    }
                }
            }
            .xinxi-t{
                font-size: 12px;
                #btn{
                    width: 180px;
                    height: 40px;
                    color: #fff;
                    border: 1px solid #ffcccc;
                    background: #cc3333;
                    font-size: 16px;
                    margin-left: 75px;
                    margin-top: 20px;
                    cursor: pointer;
                }
                p{
                    width: 100%;
                    float: left;
                    
                    margin: 15px 0;
                    i{
                        cursor: pointer;
                        color: #666;
                    }
                    span{
                        float: left;
                        margin: 0 10px;
                        color: #666;
                        margin-right: 30px;
                    }
                    a{
                        float: left;
                        display: block;
                        width: 80px;
                        height: 16px;
                        margin-right: 30px;
                        border: solid 1px #cc3333;
                        color: #cc3333;
                        text-align: center;
                        line-height: 16px;
                    }
                    input{
                        width: 60px;
                        height: 24px;
                        text-indent: 4px;
                        color: #666;
                        font-size: 16px;
                    }
                
                }
                
            }
        }
        .mer{
            float: right;
            width: 190px;
            height: auto;
            font-size: 12px;
            .hp{
                width: 170px;
                text-align: center;
                height: 130px;
                margin: 20px 0;
                border-bottom: solid 1px #cecece;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                a{
                    width: 170px;
                    display: block;
                    text-align: center;
                    color: #666;
                    &:hover{
                        color: #CC0001;
                    }
                    img{
                        margin-bottom: 5px;
                    }
                }
                >span{
                    width: 50px;
                    display: block;
                    color: #fff;
                    background: #CC0000;
                    margin: 5px 0;
                }
               
            }
            p{
                position: relative;
                width: 100px;
                height: auto;
                margin: 10px 0;
                padding-left: 50px;
                float: left;
                b{
                    display: block;
                    color: #666;
                    
                }
                span{
                   display: block;
                    color: #999;
                }
                img{
                    position: absolute;
                    left: 25px;
                }
                
            }
        }
    }
}


