nav {
  width: 100%;
  height: 34px;
  background: #990000;
  margin: 0 auto; }
  nav .warp-top {
    width: 1200px;
    height: 34px;
    margin: 0 auto; }
    nav .warp-top > a {
      float: right; }
    nav .warp-top .classify {
      float: left;
      width: 190px;
      height: auto;
      z-index: 1;
      position: relative; }
      nav .warp-top .classify h2 {
        background: #ce171f;
        font-size: 15px;
        font-weight: bold;
        text-align: center;
        line-height: 34px; }
        nav .warp-top .classify h2 a {
          display: block;
          color: #fff;
          height: 34px;
          width: 190px; }
      nav .warp-top .classify > div {
        display: none;
        z-index: 4;
        position: absolute;
        float: left;
        height: 58px;
        width: 170px;
        font-size: 12px;
        padding: 10px;
        background: #fff;
        border-bottom: solid 1px #e4e4e4; }
        nav .warp-top .classify > div:hover {
          background: #F1F1F1;
          border-left: solid 2px #CC0000;
          margin-left: -2px; }
          nav .warp-top .classify > div:hover > div {
            display: block; }
        nav .warp-top .classify > div > h4 {
          font-size: 14px;
          margin: 3px 0;
          text-indent: 25px;
          display: flex;
          align-content: center;
          align-items: center; }
          nav .warp-top .classify > div > h4 i {
            width: 14px;
            height: 19px;
            float: left; }
        nav .warp-top .classify > div > a {
          display: block;
          float: left;
          color: #666666;
          margin: 2px 6px; }
        nav .warp-top .classify > div b {
          display: block;
          background: #ff9900;
          color: #fff;
          border-radius: 2px; }
        nav .warp-top .classify > div > div {
          width: 775px;
          height: 470px;
          position: absolute;
          top: 0;
          left: 190px;
          background: #fff;
          display: none; }
          nav .warp-top .classify > div > div > a {
            width: 220px;
            height: 470px;
            float: left; }
          nav .warp-top .classify > div > div .ify-left {
            width: 113px;
            height: 470px;
            background: #f1f1f1;
            float: left; }
            nav .warp-top .classify > div > div .ify-left p {
              width: 113px;
              text-align: center;
              height: 37px;
              line-height: 37px; }
            nav .warp-top .classify > div > div .ify-left p:nth-child(1) {
              height: 73px;
              line-height: 73px; }
          nav .warp-top .classify > div > div .ify-left-wine {
            width: 113px;
            height: 470px;
            background: #f1f1f1;
            float: left; }
            nav .warp-top .classify > div > div .ify-left-wine p {
              width: 113px;
              text-align: center;
              height: 37px;
              line-height: 37px; }
            nav .warp-top .classify > div > div .ify-left-wine p:nth-child(5),
            nav .warp-top .classify > div > div .ify-left-wine p:nth-child(7) {
              height: 73px;
              line-height: 73px; }
            nav .warp-top .classify > div > div .ify-left-wine p:nth-child(6) {
              height: 110px;
              line-height: 110px; }
          nav .warp-top .classify > div > div .ify-right {
            float: left;
            width: 442px; }
            nav .warp-top .classify > div > div .ify-right ul {
              width: 350px;
              height: 470px;
              margin: 0 auto; }
              nav .warp-top .classify > div > div .ify-right ul li {
                height: auto;
                width: 350px;
                border-bottom: solid 1px #cecece;
                overflow: hidden; }
                nav .warp-top .classify > div > div .ify-right ul li a {
                  display: block;
                  padding: 10px;
                  float: left; }
                  nav .warp-top .classify > div > div .ify-right ul li a span {
                    color: orangered; }
                  nav .warp-top .classify > div > div .ify-right ul li a:hover {
                    color: #CC0001; }
          nav .warp-top .classify > div > div .ify-right-noimg {
            float: left;
            width: 662px; }
            nav .warp-top .classify > div > div .ify-right-noimg ul {
              width: 570px;
              height: 470px;
              margin: 0 auto; }
              nav .warp-top .classify > div > div .ify-right-noimg ul li {
                height: auto;
                width: 570px;
                border-bottom: solid 1px #cecece;
                overflow: hidden; }
                nav .warp-top .classify > div > div .ify-right-noimg ul li a {
                  display: block;
                  padding: 10px;
                  float: left; }
                  nav .warp-top .classify > div > div .ify-right-noimg ul li a span {
                    color: orangered; }
                  nav .warp-top .classify > div > div .ify-right-noimg ul li a:hover {
                    color: #CC0001; }
          nav .warp-top .classify > div > div .ify-left-tea {
            width: 113px;
            height: 470px;
            background: #f1f1f1;
            float: left; }
            nav .warp-top .classify > div > div .ify-left-tea p {
              width: 113px;
              text-align: center;
              height: 37px;
              line-height: 37px; }
            nav .warp-top .classify > div > div .ify-left-tea p:nth-child(2) {
              height: 73px;
              line-height: 73px; }
          nav .warp-top .classify > div > div .ify-left-yangjiu {
            width: 113px;
            height: 470px;
            background: #f1f1f1;
            float: left; }
            nav .warp-top .classify > div > div .ify-left-yangjiu p {
              width: 113px;
              text-align: center;
              height: 73px;
              line-height: 73px; }
            nav .warp-top .classify > div > div .ify-left-yangjiu p:nth-child(3) {
              height: 37px;
              line-height: 37px; }
    nav .warp-top .listbox {
      float: left; }
      nav .warp-top .listbox li {
        position: relative;
        float: left; }
        nav .warp-top .listbox li a {
          display: block;
          padding: 0 20px;
          color: #fff;
          line-height: 34px;
          font-size: 13px; }
          nav .warp-top .listbox li a:hover {
            background: #b40c10; }
        nav .warp-top .listbox li i {
          position: absolute;
          width: 29px;
          height: 17px;
          top: -7px;
          right: 3px; }

section {
  width: 1200px;
  height: auto;
  margin: 0 auto; }
  section > a {
    display: block;
    width: 1200px;
    height: auto;
    height: 70px;
    margin: 10px 0;
    background: url(../img/ggq.jpg) no-repeat; }
  section .list {
    width: 1200px;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    text-align: left; }
    section .list a {
      color: #666; }
      section .list a:hover {
        color: #CC0001;
        text-decoration: underline; }
    section .list i {
      padding: 5px; }
    section .list span {
      color: #CC0001; }
  section .mag {
    margin: 10px 0;
    width: 1200px;
    height: 571px;
    border: solid 1px #cecece; }
    section .mag .glap {
      float: left;
      width: 440px;
      height: 569px;
      position: relative; }
      section .mag .glap .midimg {
        position: relative;
        width: 440px;
        height: 440px; }
        section .mag .glap .midimg div {
          width: 220px;
          height: 220px;
          background: yellow;
          opacity: .4;
          position: absolute;
          left: 0;
          top: 0;
          display: none;
          cursor: move; }
        section .mag .glap .midimg img {
          width: 440px;
          height: 440px; }
      section .mag .glap .bigimg {
        display: none;
        position: absolute;
        width: 440px;
        height: 440px;
        left: 100%;
        top: 0;
        overflow: hidden; }
        section .mag .glap .bigimg img {
          width: 880px;
          height: 880px;
          position: absolute; }
      section .mag .glap .smlimg {
        width: 440px;
        height: 64px;
        display: flex;
        align-items: center;
        justify-content: space-around; }
        section .mag .glap .smlimg i {
          width: 13px;
          height: 30px;
          display: inline-block;
          cursor: pointer; }
        section .mag .glap .smlimg ul {
          display: inline-block;
          width: 365px; }
          section .mag .glap .smlimg ul li {
            float: left;
            height: 53px;
            width: 53px;
            padding: 5px;
            margin: 0 3px;
            cursor: pointer;
            border: solid 1px #fff; }
            section .mag .glap .smlimg ul li img {
              width: 54px;
              height: 54px; }
          section .mag .glap .smlimg ul .listz {
            border: solid 1px #CC0000; }
    section .mag .xinxi {
      float: left;
      width: 528px;
      height: 533px;
      padding: 15px; }
      section .mag .xinxi h2 {
        font-size: 19px;
        font-weight: bold; }
      section .mag .xinxi > p {
        color: #c33;
        font-size: 14px;
        margin: 10px 0; }
      section .mag .xinxi .xinxi-z {
        background: #fafafa;
        height: 134px;
        padding: 10px 0; }
        section .mag .xinxi .xinxi-z > p:nth-of-type(1) {
          height: 30px;
          font-size: 12px;
          line-height: 30px; }
          section .mag .xinxi .xinxi-z > p:nth-of-type(1) i {
            text-decoration: line-through;
            color: #999;
            margin-left: 20px; }
          section .mag .xinxi .xinxi-z > p:nth-of-type(1) span {
            margin: 0 10px;
            color: #666; }
        section .mag .xinxi .xinxi-z > p:nth-of-type(2) {
          height: 30px;
          font-size: 12px;
          line-height: 30px; }
          section .mag .xinxi .xinxi-z > p:nth-of-type(2) i {
            font-size: 30px;
            color: #CC0001;
            margin-left: 20px;
            font-weight: bold; }
          section .mag .xinxi .xinxi-z > p:nth-of-type(2) span {
            float: left;
            margin: 0 10px;
            color: #666;
            display: inline-block; }
        section .mag .xinxi .xinxi-z > div {
          padding-top: 10px;
          height: 70px;
          font-size: 12px; }
          section .mag .xinxi .xinxi-z > div span {
            float: left;
            height: 70px;
            margin: 0 10px;
            color: #666; }
          section .mag .xinxi .xinxi-z > div p {
            float: left;
            margin-left: 20px;
            margin-bottom: 20px; }
            section .mag .xinxi .xinxi-z > div p a {
              color: #666; }
            section .mag .xinxi .xinxi-z > div p i {
              margin: 0 15px;
              color: #CC0001; }
            section .mag .xinxi .xinxi-z > div p b {
              color: #fff;
              background: red;
              padding: 2px; }
      section .mag .xinxi .xinxi-b {
        padding: 10px 0;
        font-size: 12px; }
        section .mag .xinxi .xinxi-b p {
          padding: 10px;
          text-align: center;
          border-bottom: dashed 1px #cecece; }
          section .mag .xinxi .xinxi-b p span {
            margin: 0 30px;
            color: #666; }
      section .mag .xinxi .xinxi-t {
        font-size: 12px; }
        section .mag .xinxi .xinxi-t #btm {
          width: 180px;
          height: 40px;
          color: #fff;
          border: 1px solid #ffcccc;
          background: #cc3333;
          font-size: 16px;
          margin-left: 75px;
          margin-top: 20px;
          cursor: pointer; }
        section .mag .xinxi .xinxi-t p {
          width: 100%;
          float: left;
          margin: 15px 0; }
          section .mag .xinxi .xinxi-t p i {
            cursor: pointer;
            color: #666; }
          section .mag .xinxi .xinxi-t p span {
            float: left;
            margin: 0 10px;
            color: #666;
            margin-right: 30px; }
          section .mag .xinxi .xinxi-t p a {
            float: left;
            display: block;
            width: 80px;
            height: 16px;
            margin-right: 30px;
            border: solid 1px #cc3333;
            color: #cc3333;
            text-align: center;
            line-height: 16px; }
          section .mag .xinxi .xinxi-t p input {
            width: 60px;
            height: 24px;
            text-indent: 4px;
            color: #666;
            font-size: 16px; }
    section .mag .mer {
      float: right;
      width: 190px;
      height: auto;
      font-size: 12px; }
      section .mag .mer .hp {
        width: 170px;
        text-align: center;
        height: 130px;
        margin: 20px 0;
        border-bottom: solid 1px #cecece;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; }
        section .mag .mer .hp a {
          width: 170px;
          display: block;
          text-align: center;
          color: #666; }
          section .mag .mer .hp a:hover {
            color: #CC0001; }
          section .mag .mer .hp a img {
            margin-bottom: 5px; }
        section .mag .mer .hp > span {
          width: 50px;
          display: block;
          color: #fff;
          background: #CC0000;
          margin: 5px 0; }
      section .mag .mer p {
        position: relative;
        width: 100px;
        height: auto;
        margin: 10px 0;
        padding-left: 50px;
        float: left; }
        section .mag .mer p b {
          display: block;
          color: #666; }
        section .mag .mer p span {
          display: block;
          color: #999; }
        section .mag .mer p img {
          position: absolute;
          left: 25px; }

#maimaimai {
  width: 290px;
  height: 90px;
  border: solid 8px rgba(0, 0, 0, 0.7);
  padding: 30px 20px;
  background: #fff;
  z-index: 10;
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  font-size: 12px;
  display: none; }
  #maimaimai i {
    float: left;
    width: 32px;
    height: 32px;
    background: url(../img/lsp_bt2n.png) no-repeat 0 0; }
  #maimaimai h3 {
    margin-left: 50px;
    font-size: 16px;
    margin-bottom: 20px; }
  #maimaimai p {
    margin-left: 50px;
    color: #666;
    margin-bottom: 20px; }
  #maimaimai a {
    margin-left: 50px;
    color: #ca1728; }
  #maimaimai a:nth-of-type(2) {
    padding: 3px 10px;
    background: #ca1728;
    color: #fff;
    border-radius: 4px; }
