section {
    margin-top: 5px;
    height: auto;
    width: 100%;
    padding: 50px 0;
    background: url(../img/bg.jpg);
    position: relative;
    #enroll {
        width: 1000px;
        height: 450px;
        background: #fff;
        margin: 0 auto;
        border: solid 2px #cecece;
        box-shadow: 0 10px 10px #cecece;
       position: relative;
     
        >i {
            position: absolute;
            width: 118px;
            height: 40px;
            line-height: 40px;
            text-align: center;
            border: solid 1px #cecece;
            right: 135px;
            top: -42px;
            border-radius: 5px 5px 0 0;
            font-size: 14px;
            background: #fff;
            color: #ff9900;
            border-bottom: 0;
            cursor: pointer;
        }
        >b {
            position: absolute;
            width: 118px;
            height: 40px;
            line-height: 40px;
            text-align: center;
            border: solid 1px #cecece;
            right: 5px;
            top: -42px;
            border-radius:  5px 5px 0 0;
            font-size: 14px;
             background: #fff;
            color: #ff9900;
            cursor: pointer;
        }
        .sign{
            background: #ff9900;
            color: #fff;
        }
        .box{
            width: 340px;
            height:400px;
            position: absolute;
            margin: auto;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            padding: 0 80px;
             >div{
            margin:10px 0;
            width: 370px;
            height: 50px;
            line-height: 50px;
            font-size: 14px;
            text-align: right;
            position: relative;
            color: #666;
            >i{
                width: 21px;
                height: 21px;
                position: absolute;
                left: 102px;
                top: 14px;
                z-index: 3;
            }
            >input{
                height: 30px;
                width: 210px;
                float: right;
                padding:0 30px;
                margin-top: 7px;
                margin-left: 30px;
                
            }
            
            }
            .codebox{
                text-align: left;
                position: relative;
                b{
                    position: absolute;
                    left: 23px;
                }
                .code{
                    
                    width: 90px;
                    position: absolute;
                    right: 120px;
                    
                }
                a{
                    position: absolute;
                    width: 110px;
                    font-size: 12px;
                    height: 34px;
                    background: #ccc;
                   right: 0;
                   border-radius: 2px;
                   text-align: center;
                   line-height: 34px;
                   top: 7px;
                }
            }
            .cekbox{
                width: 270px;
                height: 20px;
                font-size: 12px;
                display: flex;
                align-items: center;
                margin-left: 96px;
                
                input{
                    width: 15px;
                    height: 15px;
                    margin: 0;
                    
                }
               p{
                   margin-left: 5px;
                   height: 20px;
                   line-height: 20px;
                   a{
                      color: blue;
                      &:hover{
                          text-decoration: underline;
                      }
                   }
                    
                }
            }
            .btn{
                width: 270px;
                height: 35px;
                margin-left: 96px;
                text-align: center;
                line-height: 35px;
                background: #CC0000;
                border: 0;
                color: #fff;
                cursor: pointer;
                font-size: 17px;
            }
            
        }
       
    }
    #enroll-qy{
        width: 1000px;
        height: 1000px;
        background: #fff;
        margin: 0 auto;
        border: solid 2px #cecece;
        box-shadow: 0 10px 10px #cecece;
        position: relative;
        display: none;
         >i {
            position: absolute;
            width: 118px;
            height: 40px;
            line-height: 40px;
            text-align: center;
            border: solid 1px #cecece;
            right: 135px;
            top: -42px;
            border-radius: 5px 5px 0 0;
            font-size: 14px;
            background: #fff;
            color: #ff9900;
            border-bottom: 0;
            cursor: pointer;
        }
        >b {
            position: absolute;
            width: 118px;
            height: 40px;
            line-height: 40px;
            text-align: center;
            border: solid 1px #cecece;
            right: 5px;
            top: -42px;
            border-radius:  5px 5px 0 0;
            font-size: 14px;
             background: #fff;
            color: #ff9900;
            cursor: pointer;
        }
         .sign{
            background: #ff9900;
            color: #fff;
         }
         #warp{
             position: absolute;
             width: 720px;
             height: 900px;
             margin:auto;
             padding: 40px;
             top: 0;
             left: 0;
             right: 0;
             bottom: 0;
           
             >div{
                 height: 50px;
                 margin: 10px 0;
                 position: relative;
                 span{
                     float: left;
                     width: 100px;
                     height: 50px;
                     line-height: 50px;
                     text-align: right;
                     margin-right: 20px;
                     font-size: 14px;
                     color: #666;
                 }
                 input{
                     float: left;
                     width: 250px;
                     height: 35px;
                     padding: 0 40px;
                     margin-top: 5px;
                 }
                 select{
                     height: 25px;
                     width: 101px;
                     margin-right: 10px;
                     margin-top: 13px ;
                 }
                 >i{
                     position: absolute;
                     width: 21px;
                     height: 21px;
                     top: 13px;
                     left: 130px;
                 }
             }
            .cap{
                width: 100%;
                height: 50px;
                border-bottom: dashed 1px #cecece;
                line-height: 50px;
                h2{
                    font-size: 17px;
                    font-weight: bold;
                    float: left;
                }
                p{
                    margin-left: 20px;
                    float: left;
                    font-size: 12px;
                    color: #FF9800;
                }
            } 
            .cekbox2{
                width: 270px;
                height: 20px;
                font-size: 12px;
                display: flex;
                align-items: center;
                margin-left: 120px;
                input{
                    width: 15px;
                    height: 15px;
                    margin: 0;
                }
               p{
                   margin-left: 5px;
                   height: 20px;
                   line-height: 20px;
                   color: #666;
                   a{
                      color: blue;
                      &:hover{
                          text-decoration: underline;
                      }
                   }
                    
                }
            }
            .btn{
                width: 270px;
                height: 40px;
                margin-left: 120px;
                text-align: center;
                line-height: 35px;
                background: #CC0000;
                border: 0;
                color: #fff;
                cursor: pointer;
                font-size: 17px;
            }
         }
         
         
    }

}