body,
ul,
li,
dl,
dt,
dd,
p,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
form,
img,
table,
fieldset,
legend,
figure {
    margin: 0;
    padding: 0;
}

ul,
li,
ol {
    list-style: none;
}

img,
fieldset {
    border: 0;
}

img {
    display: block;
}

a {
    text-decoration: none;
    color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 100;
}

body {
    font-family: "微软雅黑";
}

input,
a {
    outline: none;
}

i,
em {
    font-style: normal;
}

b,
strong {
    font-weight: normal;
}

html,
body {
    height: 100%;
    width: 100%;
}

header {
    height: 117px;
    width: 98.2%;
    #header-top {
        height: 27px;
        width: 1200px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        font-size: 12px;
        color: #999999;
        align-items: center;
        p {
            width: 200px;
            a {
                color: #999999;
                padding: 0 3px;
                &:hover {
                    color: #cc0001;
                    text-decoration: underline;
                }
            }
        }
        li {
            float: left;
            a {
                padding: 0 9px;
                color: #999999;
                &:hover {
                    color: #cc0001;
                    text-decoration: underline;
                }
            }
            span {
                color: #cc0001;
            }
        }
        li:nth-child(6) {
            a {
                background: #cc0001;
                color: #fff;
                border-radius: 4px;
            }
        }
    }
    .adv {
        display: block;
        font-size: 12px;
        width: 100%;
        height: 90px;
        background: url(http://img08.jiuxian.com/bill/2017/1104/88a1653c492444658bea9aaf4204345f.jpg) no-repeat center;
    }
}

#flank {
    position: fixed;
    height: 100%;
    width: 1.8%;
    background: #fff;
    right: 0;
    top: 0;
    font-size: 14px;
    li:hover {
        background: #ce171f;
        a {
            color: #fff;
        }
    }
    .nav {
        height: 80%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        li {
            display: flex;
            flex-direction: column;
            text-align: center;
            justify-content: center;
            align-items: center;
            a {
                display: block;
                padding: 5px 0;
            }
            span {
                display: block;
                width: 19px;
                height: 19px;
            }
            i {
                display: block;
            }
        }
    }
    .feed {
        position: absolute;
        bottom: 32px;
        a {
            display: block;
            width: 35px;
            height: 32px;
        }
        a:nth-of-type(1) {
            background: url(../img/grther1.png) no-repeat 10px 187px;
        }
    }
}

#search {
    height: 125px;
    width: 98.2%;
    background: url(http://img08.jiuxian.com/bill/2017/1102/5512401024004ee59224c5fbc0b8f422.jpg) no-repeat center;
    .search-warp {
        width: 1200px;
        height: 100%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .fom {
            width: 540px;
            height: 60px;
            position: relative;
            #txt {
                width: 540px;
                height: 38px;
                border: solid 3px #cc0000;
                box-sizing: border-box;
                text-indent: 5px;
            }
            #btn {
                width: 85px;
                height: 32px;
                position: absolute;
                right: 3px;
                top: 3px;
                background: #CC0000;
                border: 0;
                font-size: 18px;
                color: #fff;
            }
            p {
                a {
                    font-size: 12px;
                    color: #999999;
                    border-right: solid 1px #999999;
                    padding-right: 10px;
                    &:hover {
                        text-decoration: underline;
                        color: #CC0000;
                    }
                }
                a:nth-child(10) {
                    border: 0;
                }
            }
        }
        .caq {
            display: block;
            width: 106px;
            height: 44px;
            display: flex;
            justify-content: center;
            align-items: center;
            i {
                float: left;
                width: 44px;
                height: 44px;
                font-size: 12px;
                background: url(../img/grther1.png) no-repeat 0 -22px;
            }
            b {
                font-size: 12px;
                float: left;
                width: 40px;
                text-align: center;
                line-height: 18px;
            }
        }
        .caw {
            display: block;
            width: 106px;
            height: 44px;
            display: flex;
            justify-content: center;
            align-items: center;
            i {
                float: left;
                width: 44px;
                height: 44px;
                font-size: 12px;
                background: url(../img/grther1.png) no-repeat 0 -22px;
            }
            b {
                font-size: 12px;
                float: left;
                width: 60px;
                text-align: center;
                line-height: 18px;
            }
        }
        .cae {
            display: block;
            width: 106px;
            height: 44px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

#banner {
    position: relative;
    width: 98.2%;
    height: 504px;
    margin-bottom: 10px;
    .ban {
        li {
            position: absolute;
            width: 100%;
            height: 470px;
            top: 34px;
            left: 0;
            z-index: -1;
        }
    }
    .ban-warp {
        width: 100%;
        height: 34px;
        background: #990000;
        margin: 0 auto;
        .warp-top {
            width: 1200px;
            height: 34px;
            margin: 0 auto;
            >a {
                float: right;
            }
            .classify {
                float: left;
                width: 190px;
                height: 504px;
                h2 {
                    background: #ce171f;
                    font-size: 15px;
                    font-weight: bold;
                    text-align: center;
                    line-height: 34px;
                    a {
                        display: block;
                        color: #fff;
                        height: 34px;
                        width: 190px;
                    }
                }
                >div {
                    height: 58px;
                    width: 170px;
                    font-size: 12px;
                    padding: 10px;
                    background: #fff;
                    border-bottom: solid 1px #e4e4e4;
                    h4 {
                        font-size: 14px;
                        margin: 3px 0;
                        text-indent: 25px;
                    }
                    a {
                        display: block;
                        float: left;
                        color: #666666;
                        margin: 2px 6px;
                    }
                    b {
                        display: block;
                        background: #ff9900;
                        color: #fff;
                        border-radius: 2px;
                    }
                }
                .elect {}
            }
            .listbox {
                float: left;
                li {
                    float: left;
                    a {
                        display: block;
                        padding: 0 20px;
                        color: #fff;
                        line-height: 34px;
                        font-size: 13px;
                        &:hover {
                            background: #b40c10;
                        }
                    }
                }
            }
        }
    }
}

#lisibox {
    width: 98.2%;
    height: auto;
    position: relative;
    overflow: hidden;
    .bgleft {
        a {
            display: block;
            height: 959px;
            width: 361px;
            position: absolute;
            left: -215px;
        }
    }
    .bgright {
        a {
            display: block;
            height: 959px;
            width: 361px;
            position: absolute;
            right: -215px;
        }
    }
    .content-warp {
        width: 1200px;
        height: 959px;
        margin: 0 auto;
        .content {
            width: 920px;
            height: 498px;
            float: left;
            .acl {
                li {
                    width: 182px;
                    height: 35px;
                    float: left;
                    text-align: center;
                    background: #f9f9f9;
                    line-height: 35px;
                    cursor: pointer;
                    border: solid 1px #ececec;
                    border-top: solid 2px #ECECEC;
                }
                .acl-z {
                    color: #cc0000;
                    border-top: solid 2px #cc0000;
                    background: #fff;
                    border-bottom: #E4E4E4;
                }
            }
            >div {
                width: 918px;
                height: 460px;
                border: solid 1px #ECECEC;
                border-top: 0;
            }
        }
        .aff {
            float: right;
            .acl2 {
                li {
                    width: 132px;
                    height: 35px;
                    float: left;
                    text-align: center;
                    background: #f9f9f9;
                    line-height: 35px;
                    cursor: pointer;
                    border: solid 1px #ececec;
                    border-top: solid 2px #ECECEC;
                }
                .acl-z {
                    color: #cc0000;
                    border-top: solid 2px #cc0000;
                    background: #fff;
                    border-bottom: #E4E4E4;
                }
            }
            .aff-cont {
                width: 218px;
                height: 102px;
                padding: 0 25px;
                border: solid 1px #ECECEC;
                a {
                    width: 100px;
                    font-size: 12px;
                    float: left;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    margin: 2px;
                    white-space: nowrap;
                    &:hover {
                        color: #ff9900;
                        text-decoration: underline;
                    }
                }
                .aff-cont-right {
                    display: none;
                }
            }
        }
        .smlban {
            position: relative;
            width: 268px;
            height: 157px;
            border: solid 1px #ECECEC;
            float: right;
            margin: 10px 0;
            a {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
            }
            p {
                position: absolute;
                left: 10px;
                bottom: 10px;
                span {
                    float: left;
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    background: #aaa;
                    margin: 0 5px;
                    cursor: pointer;
                }
                .sml-span {
                    background: cornflowerblue;
                }
            }
        }
        .smlban1 {
            width: 268px;
            height: 178px;
            position: relative;
            border: solid 1px #ECECEC;
            float: right;
            a {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
            }
            p {
                position: absolute;
                left: 10px;
                bottom: 10px;
                span {
                    float: left;
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    background: #aaa;
                    margin: 0 5px;
                    cursor: pointer;
                }
                .sml-span {
                    background: cornflowerblue;
                }
            }
        }
        .shuang11 {
            width: 100%;
            height: 110px;
            float: left;
            background: url(../img/shuang11huodong.jpg);
            a {
                float: left;
                height: 110px;
                width: 393px;
                background: #edecf4;
            }
        }
        >figure {
            float: left;
            width: 100%;
            figcaption {
                width: 100%;
                height: 40px;
                font-size: 14px;
                display: flex;
                margin-top: 30px;
                justify-content: space-between;
                h3 {
                    height: 40px;
                    line-height: 40px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    i {
                        display: block;
                        width: 20px;
                        height: 20px;
                        margin-left: 5px;
                        background: url(../img/grther.png) no-repeat left top;
                    }
                    span {
                        margin-left: 10px;
                    }
                }
                p {
                    display: flex;
                    align-items: center;
                    span {
                        float: left;
                        width: 9px;
                        height: 9px;
                        background: #ccc;
                        margin: 0 10px;
                    }
                    .shuang11-span {
                        background: #cc0000;
                    }
                }
            }
            >ul {
                height: 257px;
                width: 1200px;
                border: solid 1px #ECECEC;
                overflow: hidden;
            }
        }
    }
}

section {
    width: 98.2%;
    height: auto;
    background: #f9f9f9;
    >div {
        height: 700px;
        width: 1200px;
        margin: 0 auto;
    }
    .cap {
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 12px;
        h3 {
            display: flex;
            justify-content: center;
            align-items: center;
            i {
                display: block;
                width: 28px;
                height: 29px;
                font-size: 20px;
                line-height: 29px;
                text-align: center;
                color: #fff;
                margin-right: 10px;
            }
            span {
                font-size: 18px;
            }
        }
        p {
            >a {
                color: #999999;
                padding: 0 12px;
                border-right: solid 1px #999;
                &:hover {
                    color: #CC0001;
                    text-decoration: underline;
                }
            }
            i {
                display: block;
                float: right;
                padding: 0 5px;
                background: #d43d4e;
                border-radius: 2px;
                margin-right: 10px;
                a {
                    color: #fff;
                }
            }
        }
    }
    .one-cont {
        border-top: solid 2px #c94b56;
        .one-ban {
            width: 210px;
            height: auto;
            float: left;
            position: relative;
            overflow: hidden;
            >div {
                width: 210px;
                height: 485px;
            }
            a {
                position: absolute;
                top: 0;
                left: 0;
                width: 210px;
                height: 485px;
            }
        }
        .one-p {
            width: 210px;
            position: absolute;
            bottom: 10px;
            display: flex;
            justify-content: center;
            span {
                display: block;
                width: 13px;
                height: 13px;
                margin: 0 5px;
                background: #fff;
                border-radius: 50%;
                float: left;
                cursor: pointer;
            }
            .one-span {
                background: orangered;
            }
        }
        .one-list {
            width: 990px;
            float: left;
            li {
                width: 197px;
                height: 242px;
                border: solid 1px #cecece;
                float: left;
                border-top: 0;
                border-left: 0;
            }
        }
        .one-left {
            width: 188px;
            height: 141px;
            padding: 10px;
            float: left;
            border: solid 1px #cecece;
            h5 {
                font-weight: bold;
                color: #CC0001;
                line-height: 30px;
            }
            a {
                overflow: hidden;
                font-size: 12px;
                margin: 5px;
                &:hover {
                    text-decoration: underline;
                    color: #CC0001;
                }
            }
        }
        .one-right {
            width: 987px;
            height: 161px;
            float: left;
            border: solid 1px #cecece;
            .one-right-t {
                height: 32px;
                width: 967px;
                padding: 0 10px;
                display: flex;
                justify-content: space-between;
                font-size: 12px;
                h6 {
                    font-weight: bold;
                    font-size: 12px;
                    color: #d43d4e;
                    i {
                        display: inline-block;
                        width: 11px;
                        height: 13px;
                        background: url(../img/grther.png) no-repeat -38px 0;
                    }
                }
                p {
                    span {
                        float: left;
                        padding: 0 15px;
                        color: #666666;
                        cursor: pointer;
                        border-right: solid 1px #ccc;
                    }
                }
            }
            >ul {
                width: 987px;
                height: 129px;
            }
        }
    }
    .two-cont {
        border-top: solid 2px #c37632;
    }
    .three,
    .four,
    .five {
        height: 540px;
    }
    .three-cont {
        border-top: solid 2px #276594;
        height: 485px;
    }
    .four-cont {
        border-top: solid 2px #6c9d0e;
        height: 485px;
    }
    .five-cont {
        border-top: solid 2px #fe7a65;
        height: 485px;
    }
    .three-ban {
        width: 210px;
        height: auto;
        float: left;
        position: relative;
        overflow: hidden;
        >div {
            width: 210px;
            height: 320px;
        }
        a {
            position: absolute;
            top: 0;
            left: 0;
            width: 210px;
            height: 320px;
        }
    }
    .three-left {
        width: 188px;
        height: 144px;
        padding: 10px;
        float: left;
        border: solid 1px #cecece;
        h5 {
            font-weight: bold;
            color: #CC0001;
            line-height: 30px;
        }
        a {
            overflow: hidden;
            font-size: 12px;
            margin: 5px;
            &:hover {
                text-decoration: underline;
                color: #CC0001;
            }
        }
    }
    .three-list {
        width: 990px;
        float: right;
        li {
            width: 197px;
            height: 242px;
            border: solid 1px #cecece;
            float: left;
            border-top: 0;
            border-left: 0;
        }
    }
    .four-ban {
        width: 210px;
        height: auto;
        float: left;
        position: relative;
        overflow: hidden;
        >div {
            width: 210px;
            height: 485px;
        }
        a {
            position: absolute;
            top: 0;
            left: 0;
            width: 210px;
            height: 485px;
        }
    }
    .sec-btn {
        height: 358px;
        >ul {
            width: 100%;
            height: 42px;
            li {
                float: left;
                padding: 10px 14px;
                cursor: pointer;
            }
        }
        >div {
            width: 1198px;
            height: 304px;
            border: solid 1px #cecece;
        }
    }
    >figure {
        height: 190px;
        width: 1200px;
        margin: 0 auto;
        figcaption {
            border-left: solid 7px #ff9000;
            text-indent: 5px;
            margin: 10px 0;
        }
        .fig-warp {
            width: 1198px;
            height: 132px;
            border: solid 1px #cecece;
            >div {
                width: 585px;
                height: 60px;
                float: left;
                margin: 2px;
                >h3 {
                    width: 107px;
                    height: 60px;
                    float: left;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: #f7f7f7;
                    span {
                        width: 28px;
                        font-size: 14px;
                        font-weight: bold;
                        color: #5d6371;
                    }
                    i {
                        display: block;
                        width: 17px;
                        height: 38px;
                        margin: 0 5px;
                        background: url(../img/grther.png) no-repeat -64px 0;
                    }
                }
                >p {
                    float: left;
                    width: 450px;
                    margin: 5px 0;
                    a {
                        float: left;
                        color: #666;
                        font-size: 12px;
                        padding: 0 10px;
                        border-right: solid 1px #afafaf;
                    }
                }
            }
        }
    }
}

footer {
    height: 289px;
    width: 98.2%;
    background: #333333;
    .footer-top {
        height: 84px;
        width: 1200px;
        margin: 0 auto;
        border-bottom: solid 1px #494949;
        >p {
            float: left;
            width: 450px;
            height: 84px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            i {
                display: block;
                width: 40px;
                height: 40px;
                background: url(../img/grther1.png) no-repeat -144px -22px;
            }
            b{
                font-size: 25px;
                font-weight: bold;
                color: #cc0000;
            }
            span{
                font-size: 14px;
                color: #fff;
            }
        }
        >div{
            float: right;
            position: relative;
            height: 84px;
            width: 340px;
            text-align: right;
            line-height: 84px;
            span{
                font-size: 12px;
                color: #fff;
            }
            #eml{
                width: 240px;
                height: 30px;
                border: solid 1px #5b5b5b;
                background: #333333;
                text-indent: 3px;
                font-size: 12px;
            }
            #emlbtn{
                position: absolute;
                width: 21px;
                height: 17px;
                right: 8px;
                height: 30px;
                border: 0;
                top: 50%;
                margin-top: -12px;
                background: #333333 url(../img/grther1.png) no-repeat -133px 5px;
                
            }
            
        }
    }
    .footer-bom {
        height: 205px;
        width: 1200px;
        margin: 0 auto;
    }
}