#banner {
  position: relative;
  width: 98.2%;
  height: 504px;
  margin-bottom: 10px; }
  #banner .ban li {
    position: absolute;
    width: 100%;
    height: 470px;
    top: 34px;
    left: 0;
    display: none; }
    #banner .ban li a {
      display: block;
      width: 100%;
      height: 470px; }
  #banner > p {
    position: absolute;
    width: 300px;
    left: 50%;
    margin-left: -100px;
    bottom: 15px; }
    #banner > p span {
      float: left;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      text-align: center;
      line-height: 20px;
      font-size: 12px;
      color: #fff;
      background: #330a0e;
      margin: 0 2px;
      cursor: pointer; }
    #banner > p .ban-span {
      background: #e31632; }
  #banner .ban-warp {
    width: 100%;
    height: 34px;
    background: #990000;
    margin: 0 auto; }
    #banner .ban-warp .warp-top {
      width: 1200px;
      height: 34px;
      margin: 0 auto; }
      #banner .ban-warp .warp-top > a {
        float: right; }
      #banner .ban-warp .warp-top .classify {
        float: left;
        width: 190px;
        height: 504px;
        z-index: 1; }
        #banner .ban-warp .warp-top .classify h2 {
          background: #ce171f;
          font-size: 15px;
          font-weight: bold;
          text-align: center;
          line-height: 34px; }
          #banner .ban-warp .warp-top .classify h2 a {
            display: block;
            color: #fff;
            height: 34px;
            width: 190px; }
        #banner .ban-warp .warp-top .classify > div {
          position: relative;
          height: 58px;
          width: 170px;
          font-size: 12px;
          padding: 10px;
          background: #fff;
          border-bottom: solid 1px #e4e4e4; }
          #banner .ban-warp .warp-top .classify > div:hover {
            background: #F1F1F1;
            border-left: solid 2px #CC0000;
            margin-left: -2px; }
            #banner .ban-warp .warp-top .classify > div:hover > div {
              display: block; }
          #banner .ban-warp .warp-top .classify > div > h4 {
            font-size: 14px;
            margin: 3px 0;
            text-indent: 25px;
            display: flex;
            align-content: center;
            align-items: center; }
            #banner .ban-warp .warp-top .classify > div > h4 i {
              width: 14px;
              height: 19px;
              float: left; }
          #banner .ban-warp .warp-top .classify > div > a {
            display: block;
            float: left;
            color: #666666;
            margin: 2px 6px; }
          #banner .ban-warp .warp-top .classify > div b {
            display: block;
            background: #ff9900;
            color: #fff;
            border-radius: 2px; }
          #banner .ban-warp .warp-top .classify > div > div {
            width: 775px;
            height: 470px;
            position: absolute;
            top: 0;
            left: 190px;
            background: #fff;
            display: none; }
            #banner .ban-warp .warp-top .classify > div > div > a {
              width: 220px;
              height: 470px;
              float: left; }
            #banner .ban-warp .warp-top .classify > div > div .ify-left {
              width: 113px;
              height: 470px;
              background: #f1f1f1;
              float: left; }
              #banner .ban-warp .warp-top .classify > div > div .ify-left p {
                width: 113px;
                text-align: center;
                height: 37px;
                line-height: 37px; }
              #banner .ban-warp .warp-top .classify > div > div .ify-left p:nth-child(1) {
                height: 73px;
                line-height: 73px; }
            #banner .ban-warp .warp-top .classify > div > div .ify-left-wine {
              width: 113px;
              height: 470px;
              background: #f1f1f1;
              float: left; }
              #banner .ban-warp .warp-top .classify > div > div .ify-left-wine p {
                width: 113px;
                text-align: center;
                height: 37px;
                line-height: 37px; }
              #banner .ban-warp .warp-top .classify > div > div .ify-left-wine p:nth-child(5),
              #banner .ban-warp .warp-top .classify > div > div .ify-left-wine p:nth-child(7) {
                height: 73px;
                line-height: 73px; }
              #banner .ban-warp .warp-top .classify > div > div .ify-left-wine p:nth-child(6) {
                height: 110px;
                line-height: 110px; }
            #banner .ban-warp .warp-top .classify > div > div .ify-right {
              float: left;
              width: 442px; }
              #banner .ban-warp .warp-top .classify > div > div .ify-right ul {
                width: 350px;
                height: 470px;
                margin: 0 auto; }
                #banner .ban-warp .warp-top .classify > div > div .ify-right ul li {
                  height: auto;
                  width: 350px;
                  border-bottom: solid 1px #cecece;
                  overflow: hidden; }
                  #banner .ban-warp .warp-top .classify > div > div .ify-right ul li a {
                    display: block;
                    padding: 10px;
                    float: left; }
                    #banner .ban-warp .warp-top .classify > div > div .ify-right ul li a span {
                      color: orangered; }
                    #banner .ban-warp .warp-top .classify > div > div .ify-right ul li a:hover {
                      color: #CC0001; }
            #banner .ban-warp .warp-top .classify > div > div .ify-right-noimg {
              float: left;
              width: 662px; }
              #banner .ban-warp .warp-top .classify > div > div .ify-right-noimg ul {
                width: 570px;
                height: 470px;
                margin: 0 auto; }
                #banner .ban-warp .warp-top .classify > div > div .ify-right-noimg ul li {
                  height: auto;
                  width: 570px;
                  border-bottom: solid 1px #cecece;
                  overflow: hidden; }
                  #banner .ban-warp .warp-top .classify > div > div .ify-right-noimg ul li a {
                    display: block;
                    padding: 10px;
                    float: left; }
                    #banner .ban-warp .warp-top .classify > div > div .ify-right-noimg ul li a span {
                      color: orangered; }
                    #banner .ban-warp .warp-top .classify > div > div .ify-right-noimg ul li a:hover {
                      color: #CC0001; }
            #banner .ban-warp .warp-top .classify > div > div .ify-left-tea {
              width: 113px;
              height: 470px;
              background: #f1f1f1;
              float: left; }
              #banner .ban-warp .warp-top .classify > div > div .ify-left-tea p {
                width: 113px;
                text-align: center;
                height: 37px;
                line-height: 37px; }
              #banner .ban-warp .warp-top .classify > div > div .ify-left-tea p:nth-child(2) {
                height: 73px;
                line-height: 73px; }
            #banner .ban-warp .warp-top .classify > div > div .ify-left-yangjiu {
              width: 113px;
              height: 470px;
              background: #f1f1f1;
              float: left; }
              #banner .ban-warp .warp-top .classify > div > div .ify-left-yangjiu p {
                width: 113px;
                text-align: center;
                height: 73px;
                line-height: 73px; }
              #banner .ban-warp .warp-top .classify > div > div .ify-left-yangjiu p:nth-child(3) {
                height: 37px;
                line-height: 37px; }
      #banner .ban-warp .warp-top .listbox {
        float: left; }
        #banner .ban-warp .warp-top .listbox li {
          position: relative;
          float: left; }
          #banner .ban-warp .warp-top .listbox li a {
            display: block;
            padding: 0 20px;
            color: #fff;
            line-height: 34px;
            font-size: 13px; }
            #banner .ban-warp .warp-top .listbox li a:hover {
              background: #b40c10; }
          #banner .ban-warp .warp-top .listbox li i {
            position: absolute;
            width: 29px;
            height: 17px;
            top: -7px;
            right: 3px; }

#lisibox {
  width: 98.2%;
  height: auto;
  position: relative;
  overflow: hidden;
  z-index: -1; }
  #lisibox .bgleft a {
    display: block;
    height: 959px;
    width: 361px;
    position: absolute;
    left: -215px; }
  #lisibox .bgright a {
    display: block;
    height: 959px;
    width: 361px;
    position: absolute;
    right: -215px;
    z-index: -1; }
  #lisibox .content-warp {
    width: 1200px;
    height: 959px;
    margin: 0 auto;
    overflow: hidden; }
    #lisibox .content-warp .content {
      width: 920px;
      height: 498px;
      float: left; }
      #lisibox .content-warp .content .acl {
        float: left;
        height: 35px;
        z-index: 3; }
        #lisibox .content-warp .content .acl li {
          width: 182px;
          height: 35px;
          float: left;
          text-align: center;
          background: #f9f9f9;
          line-height: 35px;
          cursor: pointer;
          border: solid 1px #ececec;
          border-top: solid 2px #ECECEC;
          cursor: pointer; }
        #lisibox .content-warp .content .acl .acl-z {
          color: #cc0000;
          border-top: solid 2px #cc0000;
          background: #fff;
          border-bottom: #E4E4E4; }
      #lisibox .content-warp .content .pro {
        float: left;
        width: 918px;
        height: 425px;
        border: solid 1px #ECECEC;
        border-top: 0;
        position: relative; }
        #lisibox .content-warp .content .pro ul {
          position: absolute;
          left: 0;
          bottom: 0;
          display: none; }
        #lisibox .content-warp .content .pro li {
          float: left;
          height: 210px;
          width: 183px;
          display: flex;
          flex-direction: column;
          justify-content: center; }
          #lisibox .content-warp .content .pro li p {
            padding: 0 10px;
            width: 160px;
            font-size: 12px;
            color: #666;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap; }
            #lisibox .content-warp .content .pro li p:hover {
              color: #CC0001;
              text-decoration: underline; }
          #lisibox .content-warp .content .pro li span {
            padding: 0 10px;
            color: red;
            font-size: 12px; }
    #lisibox .content-warp .aff {
      float: right; }
      #lisibox .content-warp .aff .acl2 {
        height: 35px; }
        #lisibox .content-warp .aff .acl2 li {
          width: 132px;
          height: 35px;
          float: left;
          text-align: center;
          background: #f9f9f9;
          line-height: 35px;
          cursor: pointer;
          border: solid 1px #ececec;
          border-top: solid 2px #ECECEC; }
        #lisibox .content-warp .aff .acl2 .acl-z {
          color: #cc0000;
          border-top: solid 2px #cc0000;
          background: #fff;
          border-bottom: #E4E4E4; }
      #lisibox .content-warp .aff .aff-cont {
        width: 218px;
        height: 78px;
        padding: 0 25px;
        border: solid 1px #ECECEC;
        overflow: hidden; }
        #lisibox .content-warp .aff .aff-cont a {
          width: 100px;
          font-size: 12px;
          float: left;
          margin: 2px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap; }
          #lisibox .content-warp .aff .aff-cont a:hover {
            color: #ff9900;
            text-decoration: underline; }
        #lisibox .content-warp .aff .aff-cont .aff-cont-right {
          display: none; }
    #lisibox .content-warp .smlban {
      position: relative;
      width: 268px;
      height: 157px;
      border: solid 1px #ECECEC;
      float: right;
      margin: 10px 0; }
      #lisibox .content-warp .smlban a {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0; }
      #lisibox .content-warp .smlban p {
        position: absolute;
        left: 10px;
        bottom: 10px; }
        #lisibox .content-warp .smlban p span {
          float: left;
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background: #aaa;
          margin: 0 5px;
          cursor: pointer; }
        #lisibox .content-warp .smlban p .sml-span {
          background: cornflowerblue; }
    #lisibox .content-warp .smlban1 {
      width: 268px;
      height: 178px;
      position: relative;
      border: solid 1px #ECECEC;
      float: right; }
      #lisibox .content-warp .smlban1 a {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0; }
      #lisibox .content-warp .smlban1 p {
        position: absolute;
        left: 10px;
        bottom: 10px; }
        #lisibox .content-warp .smlban1 p span {
          float: left;
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background: #aaa;
          margin: 0 5px;
          cursor: pointer; }
        #lisibox .content-warp .smlban1 p .sml-span {
          background: cornflowerblue; }
    #lisibox .content-warp .shuang11 {
      width: 100%;
      height: 110px;
      float: left;
      background: url(../img/shuang11huodong.jpg); }
      #lisibox .content-warp .shuang11 a {
        float: left;
        height: 110px;
        width: 393px;
        background: #edecf4; }
    #lisibox .content-warp > figure {
      position: relative;
      float: left;
      width: 100%; }
      #lisibox .content-warp > figure > div {
        float: left;
        height: 257px;
        width: 1200px;
        position: absolute; }
      #lisibox .content-warp > figure figcaption {
        width: 100%;
        height: 40px;
        font-size: 14px;
        display: flex;
        margin-top: 30px;
        justify-content: space-between; }
        #lisibox .content-warp > figure figcaption h3 {
          height: 40px;
          line-height: 40px;
          display: flex;
          justify-content: center;
          align-items: center; }
          #lisibox .content-warp > figure figcaption h3 i {
            display: block;
            width: 20px;
            height: 20px;
            margin-left: 5px;
            background: url(../img/grther.png) no-repeat left top; }
          #lisibox .content-warp > figure figcaption h3 span {
            margin-left: 10px; }
        #lisibox .content-warp > figure figcaption p {
          display: flex;
          align-items: center; }
          #lisibox .content-warp > figure figcaption p span {
            float: left;
            width: 9px;
            height: 9px;
            background: #ccc;
            margin: 0 10px;
            cursor: pointer; }
          #lisibox .content-warp > figure figcaption p .shuang11-span {
            background: #cc0000; }
      #lisibox .content-warp > figure ul {
        height: 257px;
        width: 1200px; }
        #lisibox .content-warp > figure ul li {
          float: left;
          height: 237px;
          width: 180px;
          display: flex;
          flex-direction: column;
          padding: 10px;
          justify-content: center; }
          #lisibox .content-warp > figure ul li p {
            padding: 0 10px;
            width: 160px;
            font-size: 12px;
            color: #666;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap; }
            #lisibox .content-warp > figure ul li p:hover {
              color: #CC0001;
              text-decoration: underline; }
          #lisibox .content-warp > figure ul li span {
            padding: 0 10px;
            color: red;
            font-size: 12px; }

section {
  width: 98.2%;
  height: auto;
  background: #f9f9f9; }
  section > div {
    height: 700px;
    width: 1200px;
    margin: 0 auto; }
  section .cap {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px; }
    section .cap h3 {
      display: flex;
      justify-content: center;
      align-items: center; }
      section .cap h3 i {
        display: block;
        width: 28px;
        height: 29px;
        font-size: 20px;
        line-height: 29px;
        text-align: center;
        color: #fff;
        margin-right: 10px; }
      section .cap h3 span {
        font-size: 18px; }
    section .cap p > a {
      color: #999999;
      padding: 0 12px;
      border-right: solid 1px #999; }
      section .cap p > a:hover {
        color: #CC0001;
        text-decoration: underline; }
    section .cap p i {
      display: block;
      float: right;
      padding: 0 5px;
      background: #d43d4e;
      border-radius: 2px;
      margin-right: 10px; }
      section .cap p i a {
        color: #fff; }
  section .one-cont {
    border-top: solid 2px #c94b56; }
    section .one-cont .one-ban {
      width: 210px;
      height: auto;
      float: left;
      position: relative;
      overflow: hidden; }
      section .one-cont .one-ban > div {
        width: 210px;
        height: 485px; }
      section .one-cont .one-ban a {
        position: absolute;
        top: 0;
        left: 0;
        width: 210px;
        height: 485px;
        display: none; }
    section .one-cont .one-p {
      width: 210px;
      position: absolute;
      bottom: 10px;
      display: flex;
      justify-content: center; }
      section .one-cont .one-p span {
        display: block;
        width: 13px;
        height: 13px;
        margin: 0 5px;
        background: #fff;
        border-radius: 50%;
        float: left;
        cursor: pointer; }
      section .one-cont .one-p .one-span {
        background: orangered; }
    section .one-cont .one-list {
      width: 990px;
      float: left; }
      section .one-cont .one-list li {
        width: 197px;
        height: 242px;
        border: solid 1px #cecece;
        float: left;
        border-top: 0;
        border-left: 0; }
    section .one-cont .one-left {
      width: 188px;
      height: 141px;
      padding: 10px;
      float: left;
      border: solid 1px #cecece; }
      section .one-cont .one-left h5 {
        font-weight: bold;
        color: #CC0001;
        line-height: 30px; }
      section .one-cont .one-left a {
        overflow: hidden;
        font-size: 12px;
        margin: 5px; }
        section .one-cont .one-left a:hover {
          text-decoration: underline;
          color: #CC0001; }
    section .one-cont .one-right {
      width: 987px;
      height: 161px;
      float: left;
      border: solid 1px #cecece;
      position: relative; }
      section .one-cont .one-right .one-right-t {
        height: 32px;
        width: 967px;
        padding: 0 10px;
        display: flex;
        justify-content: space-between;
        font-size: 12px;
        background: #fff; }
        section .one-cont .one-right .one-right-t h6 {
          font-weight: bold;
          font-size: 12px;
          color: #d43d4e; }
          section .one-cont .one-right .one-right-t h6 i {
            display: inline-block;
            width: 11px;
            height: 13px;
            background: url(../img/grther.png) no-repeat -38px 0; }
        section .one-cont .one-right .one-right-t p span {
          float: left;
          padding: 0 15px;
          color: #666666;
          cursor: pointer;
          border-right: solid 1px #ccc; }
        section .one-cont .one-right .one-right-t p .btn-span {
          color: #CC0001; }
      section .one-cont .one-right > ul {
        width: 987px;
        height: 129px;
        position: absolute;
        display: none;
        bottom: 0;
        left: 0;
        overflow: hidden;
        background: #fff; }
        section .one-cont .one-right > ul li {
          height: 119px;
          width: 184px;
          padding: 6px;
          float: left; }
          section .one-cont .one-right > ul li img {
            width: 100px;
            float: left; }
          section .one-cont .one-right > ul li a {
            float: left; }
          section .one-cont .one-right > ul li p {
            width: 80px;
            height: 30px;
            font-size: 12px;
            color: #666;
            overflow: hidden;
            text-overflow: ellipsis;
            margin-bottom: 20px;
            float: left; }
            section .one-cont .one-right > ul li p:hover {
              color: #CC0001;
              text-decoration: underline; }
          section .one-cont .one-right > ul li span {
            color: red;
            font-size: 20px;
            float: left; }
  section .two-cont {
    border-top: solid 2px #c37632; }
  section .three,
  section .four,
  section .five {
    height: 540px; }
  section .three-cont {
    border-top: solid 2px #276594;
    height: 485px; }
  section .four-cont {
    border-top: solid 2px #6c9d0e;
    height: 485px; }
  section .five-cont {
    border-top: solid 2px #fe7a65;
    height: 485px; }
  section .three-ban {
    width: 210px;
    height: auto;
    float: left;
    position: relative;
    overflow: hidden; }
    section .three-ban > div {
      width: 210px;
      height: 320px; }
    section .three-ban a {
      position: absolute;
      top: 0;
      left: 0;
      width: 210px;
      height: 320px; }
  section .three-left {
    width: 188px;
    height: 144px;
    padding: 10px;
    float: left;
    border: solid 1px #cecece; }
    section .three-left h5 {
      font-weight: bold;
      color: #CC0001;
      line-height: 30px; }
    section .three-left a {
      overflow: hidden;
      font-size: 12px;
      margin: 5px; }
      section .three-left a:hover {
        text-decoration: underline;
        color: #CC0001; }
  section .three-list {
    width: 990px;
    float: right; }
    section .three-list li {
      width: 197px;
      height: 242px;
      border: solid 1px #cecece;
      float: left;
      border-top: 0;
      border-left: 0; }
  section .four-ban {
    width: 210px;
    height: auto;
    float: left;
    position: relative;
    overflow: hidden; }
    section .four-ban > div {
      width: 210px;
      height: 485px; }
    section .four-ban a {
      position: absolute;
      top: 0;
      left: 0;
      width: 210px;
      height: 485px; }
  section .sec-btn {
    height: 358px;
    position: relative; }
    section .sec-btn > p {
      position: absolute;
      width: 92px;
      height: 3px;
      background: #CC0000;
      top: 39px; }
      section .sec-btn > p i {
        position: absolute;
        display: block;
        width: 9px;
        height: 5px;
        background: url(../img/grther1.png) no-repeat -116px 0;
        bottom: 2px;
        left: 50%;
        margin-left: -4.5px; }
    section .sec-btn > ul {
      width: 100%;
      height: 42px; }
      section .sec-btn > ul li {
        float: left;
        padding: 10px 0;
        width: 92px;
        text-align: center;
        cursor: pointer;
        color: #666;
        position: relative; }
    section .sec-btn > div {
      width: 1198px;
      height: 304px;
      border: solid 1px #cecece;
      position: relative; }
      section .sec-btn > div > ul {
        width: 1182px;
        height: 288px;
        padding: 8px;
        position: absolute;
        display: none; }
        section .sec-btn > div > ul li {
          width: 180px;
          height: 80px;
          position: relative;
          overflow: hidden;
          float: left;
          margin: 8px; }
          section .sec-btn > div > ul li img {
            position: absolute; }
  section > figure {
    height: 190px;
    width: 1200px;
    margin: 0 auto; }
    section > figure figcaption {
      border-left: solid 7px #ff9000;
      text-indent: 5px;
      margin: 10px 0; }
    section > figure .fig-warp {
      width: 1198px;
      height: 132px;
      border: solid 1px #cecece; }
      section > figure .fig-warp > div {
        width: 585px;
        height: 60px;
        float: left;
        margin: 2px; }
        section > figure .fig-warp > div > h3 {
          width: 107px;
          height: 60px;
          float: left;
          display: flex;
          justify-content: center;
          align-items: center;
          background: #f7f7f7; }
          section > figure .fig-warp > div > h3 span {
            width: 28px;
            font-size: 14px;
            font-weight: bold;
            color: #5d6371; }
          section > figure .fig-warp > div > h3 i {
            display: block;
            width: 17px;
            height: 38px;
            margin: 0 5px;
            background: url(../img/grther.png) no-repeat -64px 0; }
        section > figure .fig-warp > div > p {
          float: left;
          width: 450px;
          margin: 5px 0; }
          section > figure .fig-warp > div > p a {
            float: left;
            color: #666;
            font-size: 12px;
            padding: 0 10px;
            border-right: solid 1px #afafaf; }
  section .selist li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #fff; }
    section .selist li p {
      padding: 0 10px;
      width: 160px;
      font-size: 12px;
      color: #666;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; }
      section .selist li p:hover {
        color: #CC0001;
        text-decoration: underline; }
    section .selist li span {
      padding: 0 10px;
      color: red;
      font-size: 12px; }

#sus {
  width: 30px;
  height: auto;
  position: fixed;
  left: 90px;
  height: 40%;
  display: none;
  z-index: 9; }
  #sus span {
    display: block;
    width: 30px;
    height: 30px;
    position: relative;
    margin: 1px;
    border-radius: 50%;
    background: #f1f1f1;
    cursor: pointer; }
    #sus span i {
      display: block;
      width: 15px;
      height: 16px;
      position: absolute;
      margin: auto;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0; }
  #sus > div {
    width: 30px;
    height: 30px;
    position: relative;
    margin: 1px; }
    #sus > div i {
      display: block;
      width: 15px;
      height: 20px;
      position: absolute;
      margin: auto;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0; }
    #sus > div a {
      width: 30px;
      height: 30px;
      position: absolute;
      left: 0;
      top: 0;
      text-align: center;
      line-height: 30px;
      font-size: 12px;
      color: #fff;
      display: none;
      border-radius: 15px;
      z-index: 9; }
    #sus > div a:nth-child(2) {
      background: #f1f1f1;
      display: block; }
  #sus .sus1 a:nth-child(1) {
    background: #d43d4e; }
  #sus .sus2 a:nth-child(1) {
    background: #c2782f; }
  #sus .sus3 a:nth-child(1) {
    background: #296693; }
  #sus .sus4 a:nth-child(1) {
    background: #6c9d0e; }
  #sus .sus5 a:nth-child(1) {
    background: #fe7a65; }
