@charset "UTF-8";
body,
ul,
li,
dl,
dt,
dd,
p,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
form,
img,
table,
fieldset,
legend,
figure {
  margin: 0;
  padding: 0; }

ul,
li,
ol {
  list-style: none; }

img,
fieldset {
  border: 0; }

img {
  display: block; }

a {
  text-decoration: none;
  color: #333; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 100; }

body {
  font-family: "微软雅黑"; }

input,
a {
  outline: none; }

i,
em {
  font-style: normal; }

b,
strong {
  font-weight: normal; }

html,
body {
  height: 100%;
  width: 100%; }

header {
  height: 117px;
  width: 98.2%; }
  header #header-top {
    height: 27px;
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    color: #999999;
    align-items: center; }
    header #header-top p {
      width: 200px; }
      header #header-top p a {
        color: #999999;
        padding: 0 3px; }
        header #header-top p a:hover {
          color: #cc0001;
          text-decoration: underline; }
    header #header-top li {
      float: left; }
      header #header-top li a {
        padding: 0 9px;
        color: #999999; }
        header #header-top li a:hover {
          color: #cc0001;
          text-decoration: underline; }
      header #header-top li span {
        color: #cc0001; }
    header #header-top li:nth-child(6) a {
      background: #cc0001;
      color: #fff;
      border-radius: 4px; }
  header .adv {
    display: block;
    font-size: 12px;
    width: 100%;
    height: 90px;
    background: url(http://img08.jiuxian.com/bill/2017/1104/88a1653c492444658bea9aaf4204345f.jpg) no-repeat center; }

#flank {
  position: fixed;
  height: 100%;
  width: 1.8%;
  background: #fff;
  right: 0;
  top: 0;
  font-size: 14px; }
  #flank li:hover {
    background: #ce171f; }
    #flank li:hover a {
      color: #fff; }
  #flank .nav {
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    #flank .nav li {
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: center;
      align-items: center; }
      #flank .nav li a {
        display: block;
        padding: 5px 0; }
      #flank .nav li span {
        display: block;
        width: 19px;
        height: 19px; }
      #flank .nav li i {
        display: block; }
  #flank .feed {
    position: absolute;
    bottom: 32px; }
    #flank .feed a {
      display: block;
      width: 35px;
      height: 32px; }
    #flank .feed a:nth-of-type(1) {
      background: url(../img/grther1.png) no-repeat 10px 187px; }

#search {
  height: 125px;
  width: 98.2%;
  background: url(http://img08.jiuxian.com/bill/2017/1102/5512401024004ee59224c5fbc0b8f422.jpg) no-repeat center; }
  #search .search-warp {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    #search .search-warp .fom {
      width: 540px;
      height: 60px;
      position: relative; }
      #search .search-warp .fom #txt {
        width: 540px;
        height: 38px;
        border: solid 3px #cc0000;
        box-sizing: border-box;
        text-indent: 5px; }
      #search .search-warp .fom #btn {
        width: 85px;
        height: 32px;
        position: absolute;
        right: 3px;
        top: 3px;
        background: #CC0000;
        border: 0;
        font-size: 18px;
        color: #fff; }
      #search .search-warp .fom p a {
        font-size: 12px;
        color: #999999;
        border-right: solid 1px #999999;
        padding-right: 10px; }
        #search .search-warp .fom p a:hover {
          text-decoration: underline;
          color: #CC0000; }
      #search .search-warp .fom p a:nth-child(10) {
        border: 0; }
    #search .search-warp .caq {
      display: block;
      width: 106px;
      height: 44px;
      display: flex;
      justify-content: center;
      align-items: center; }
      #search .search-warp .caq i {
        float: left;
        width: 44px;
        height: 44px;
        font-size: 12px;
        background: url(../img/grther1.png) no-repeat 0 -22px; }
      #search .search-warp .caq b {
        font-size: 12px;
        float: left;
        width: 40px;
        text-align: center;
        line-height: 18px; }
    #search .search-warp .caw {
      display: block;
      width: 106px;
      height: 44px;
      display: flex;
      justify-content: center;
      align-items: center; }
      #search .search-warp .caw i {
        float: left;
        width: 44px;
        height: 44px;
        font-size: 12px;
        background: url(../img/grther1.png) no-repeat 0 -22px; }
      #search .search-warp .caw b {
        font-size: 12px;
        float: left;
        width: 60px;
        text-align: center;
        line-height: 18px; }
    #search .search-warp .cae {
      display: block;
      width: 106px;
      height: 44px;
      display: flex;
      justify-content: center;
      align-items: center; }

#banner {
  position: relative;
  width: 98.2%;
  height: 504px;
  margin-bottom: 10px; }
  #banner .ban li {
    position: absolute;
    width: 100%;
    height: 470px;
    top: 34px;
    left: 0;
    z-index: -1; }
  #banner .ban-warp {
    width: 100%;
    height: 34px;
    background: #990000;
    margin: 0 auto; }
    #banner .ban-warp .warp-top {
      width: 1200px;
      height: 34px;
      margin: 0 auto; }
      #banner .ban-warp .warp-top > a {
        float: right; }
      #banner .ban-warp .warp-top .classify {
        float: left;
        width: 190px;
        height: 504px; }
        #banner .ban-warp .warp-top .classify h2 {
          background: #ce171f;
          font-size: 15px;
          font-weight: bold;
          text-align: center;
          line-height: 34px; }
          #banner .ban-warp .warp-top .classify h2 a {
            display: block;
            color: #fff;
            height: 34px;
            width: 190px; }
        #banner .ban-warp .warp-top .classify > div {
          height: 58px;
          width: 170px;
          font-size: 12px;
          padding: 10px;
          background: #fff;
          border-bottom: solid 1px #e4e4e4; }
          #banner .ban-warp .warp-top .classify > div h4 {
            font-size: 14px;
            margin: 3px 0;
            text-indent: 25px; }
          #banner .ban-warp .warp-top .classify > div a {
            display: block;
            float: left;
            color: #666666;
            margin: 2px 6px; }
          #banner .ban-warp .warp-top .classify > div b {
            display: block;
            background: #ff9900;
            color: #fff;
            border-radius: 2px; }
      #banner .ban-warp .warp-top .listbox {
        float: left; }
        #banner .ban-warp .warp-top .listbox li {
          float: left; }
          #banner .ban-warp .warp-top .listbox li a {
            display: block;
            padding: 0 20px;
            color: #fff;
            line-height: 34px;
            font-size: 13px; }
            #banner .ban-warp .warp-top .listbox li a:hover {
              background: #b40c10; }

#lisibox {
  width: 98.2%;
  height: auto;
  position: relative;
  overflow: hidden; }
  #lisibox .bgleft a {
    display: block;
    height: 959px;
    width: 361px;
    position: absolute;
    left: -215px; }
  #lisibox .bgright a {
    display: block;
    height: 959px;
    width: 361px;
    position: absolute;
    right: -215px; }
  #lisibox .content-warp {
    width: 1200px;
    height: 959px;
    margin: 0 auto; }
    #lisibox .content-warp .content {
      width: 920px;
      height: 498px;
      float: left; }
      #lisibox .content-warp .content .acl li {
        width: 182px;
        height: 35px;
        float: left;
        text-align: center;
        background: #f9f9f9;
        line-height: 35px;
        cursor: pointer;
        border: solid 1px #ececec;
        border-top: solid 2px #ECECEC; }
      #lisibox .content-warp .content .acl .acl-z {
        color: #cc0000;
        border-top: solid 2px #cc0000;
        background: #fff;
        border-bottom: #E4E4E4; }
      #lisibox .content-warp .content > div {
        width: 918px;
        height: 460px;
        border: solid 1px #ECECEC;
        border-top: 0; }
    #lisibox .content-warp .aff {
      float: right; }
      #lisibox .content-warp .aff .acl2 li {
        width: 132px;
        height: 35px;
        float: left;
        text-align: center;
        background: #f9f9f9;
        line-height: 35px;
        cursor: pointer;
        border: solid 1px #ececec;
        border-top: solid 2px #ECECEC; }
      #lisibox .content-warp .aff .acl2 .acl-z {
        color: #cc0000;
        border-top: solid 2px #cc0000;
        background: #fff;
        border-bottom: #E4E4E4; }
      #lisibox .content-warp .aff .aff-cont {
        width: 218px;
        height: 102px;
        padding: 0 25px;
        border: solid 1px #ECECEC; }
        #lisibox .content-warp .aff .aff-cont a {
          width: 100px;
          font-size: 12px;
          float: left;
          overflow: hidden;
          text-overflow: ellipsis;
          margin: 2px;
          white-space: nowrap; }
          #lisibox .content-warp .aff .aff-cont a:hover {
            color: #ff9900;
            text-decoration: underline; }
        #lisibox .content-warp .aff .aff-cont .aff-cont-right {
          display: none; }
    #lisibox .content-warp .smlban {
      position: relative;
      width: 268px;
      height: 157px;
      border: solid 1px #ECECEC;
      float: right;
      margin: 10px 0; }
      #lisibox .content-warp .smlban a {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0; }
      #lisibox .content-warp .smlban p {
        position: absolute;
        left: 10px;
        bottom: 10px; }
        #lisibox .content-warp .smlban p span {
          float: left;
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background: #aaa;
          margin: 0 5px;
          cursor: pointer; }
        #lisibox .content-warp .smlban p .sml-span {
          background: cornflowerblue; }
    #lisibox .content-warp .smlban1 {
      width: 268px;
      height: 178px;
      position: relative;
      border: solid 1px #ECECEC;
      float: right; }
      #lisibox .content-warp .smlban1 a {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0; }
      #lisibox .content-warp .smlban1 p {
        position: absolute;
        left: 10px;
        bottom: 10px; }
        #lisibox .content-warp .smlban1 p span {
          float: left;
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background: #aaa;
          margin: 0 5px;
          cursor: pointer; }
        #lisibox .content-warp .smlban1 p .sml-span {
          background: cornflowerblue; }
    #lisibox .content-warp .shuang11 {
      width: 100%;
      height: 110px;
      float: left;
      background: url(../img/shuang11huodong.jpg); }
      #lisibox .content-warp .shuang11 a {
        float: left;
        height: 110px;
        width: 393px;
        background: #edecf4; }
    #lisibox .content-warp > figure {
      float: left;
      width: 100%; }
      #lisibox .content-warp > figure figcaption {
        width: 100%;
        height: 40px;
        font-size: 14px;
        display: flex;
        margin-top: 30px;
        justify-content: space-between; }
        #lisibox .content-warp > figure figcaption h3 {
          height: 40px;
          line-height: 40px;
          display: flex;
          justify-content: center;
          align-items: center; }
          #lisibox .content-warp > figure figcaption h3 i {
            display: block;
            width: 20px;
            height: 20px;
            margin-left: 5px;
            background: url(../img/grther.png) no-repeat left top; }
          #lisibox .content-warp > figure figcaption h3 span {
            margin-left: 10px; }
        #lisibox .content-warp > figure figcaption p {
          display: flex;
          align-items: center; }
          #lisibox .content-warp > figure figcaption p span {
            float: left;
            width: 9px;
            height: 9px;
            background: #ccc;
            margin: 0 10px; }
          #lisibox .content-warp > figure figcaption p .shuang11-span {
            background: #cc0000; }
      #lisibox .content-warp > figure > ul {
        height: 257px;
        width: 1200px;
        border: solid 1px #ECECEC;
        overflow: hidden; }

section {
  width: 98.2%;
  height: auto;
  background: #f9f9f9; }
  section > div {
    height: 700px;
    width: 1200px;
    margin: 0 auto; }
  section .cap {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px; }
    section .cap h3 {
      display: flex;
      justify-content: center;
      align-items: center; }
      section .cap h3 i {
        display: block;
        width: 28px;
        height: 29px;
        font-size: 20px;
        line-height: 29px;
        text-align: center;
        color: #fff;
        margin-right: 10px; }
      section .cap h3 span {
        font-size: 18px; }
    section .cap p > a {
      color: #999999;
      padding: 0 12px;
      border-right: solid 1px #999; }
      section .cap p > a:hover {
        color: #CC0001;
        text-decoration: underline; }
    section .cap p i {
      display: block;
      float: right;
      padding: 0 5px;
      background: #d43d4e;
      border-radius: 2px;
      margin-right: 10px; }
      section .cap p i a {
        color: #fff; }
  section .one-cont {
    border-top: solid 2px #c94b56; }
    section .one-cont .one-ban {
      width: 210px;
      height: auto;
      float: left;
      position: relative;
      overflow: hidden; }
      section .one-cont .one-ban > div {
        width: 210px;
        height: 485px; }
      section .one-cont .one-ban a {
        position: absolute;
        top: 0;
        left: 0;
        width: 210px;
        height: 485px; }
    section .one-cont .one-p {
      width: 210px;
      position: absolute;
      bottom: 10px;
      display: flex;
      justify-content: center; }
      section .one-cont .one-p span {
        display: block;
        width: 13px;
        height: 13px;
        margin: 0 5px;
        background: #fff;
        border-radius: 50%;
        float: left;
        cursor: pointer; }
      section .one-cont .one-p .one-span {
        background: orangered; }
    section .one-cont .one-list {
      width: 990px;
      float: left; }
      section .one-cont .one-list li {
        width: 197px;
        height: 242px;
        border: solid 1px #cecece;
        float: left;
        border-top: 0;
        border-left: 0; }
    section .one-cont .one-left {
      width: 188px;
      height: 141px;
      padding: 10px;
      float: left;
      border: solid 1px #cecece; }
      section .one-cont .one-left h5 {
        font-weight: bold;
        color: #CC0001;
        line-height: 30px; }
      section .one-cont .one-left a {
        overflow: hidden;
        font-size: 12px;
        margin: 5px; }
        section .one-cont .one-left a:hover {
          text-decoration: underline;
          color: #CC0001; }
    section .one-cont .one-right {
      width: 987px;
      height: 161px;
      float: left;
      border: solid 1px #cecece; }
      section .one-cont .one-right .one-right-t {
        height: 32px;
        width: 967px;
        padding: 0 10px;
        display: flex;
        justify-content: space-between;
        font-size: 12px; }
        section .one-cont .one-right .one-right-t h6 {
          font-weight: bold;
          font-size: 12px;
          color: #d43d4e; }
          section .one-cont .one-right .one-right-t h6 i {
            display: inline-block;
            width: 11px;
            height: 13px;
            background: url(../img/grther.png) no-repeat -38px 0; }
        section .one-cont .one-right .one-right-t p span {
          float: left;
          padding: 0 15px;
          color: #666666;
          cursor: pointer;
          border-right: solid 1px #ccc; }
      section .one-cont .one-right > ul {
        width: 987px;
        height: 129px; }
  section .two-cont {
    border-top: solid 2px #c37632; }
  section .three,
  section .four,
  section .five {
    height: 540px; }
  section .three-cont {
    border-top: solid 2px #276594;
    height: 485px; }
  section .four-cont {
    border-top: solid 2px #6c9d0e;
    height: 485px; }
  section .five-cont {
    border-top: solid 2px #fe7a65;
    height: 485px; }
  section .three-ban {
    width: 210px;
    height: auto;
    float: left;
    position: relative;
    overflow: hidden; }
    section .three-ban > div {
      width: 210px;
      height: 320px; }
    section .three-ban a {
      position: absolute;
      top: 0;
      left: 0;
      width: 210px;
      height: 320px; }
  section .three-left {
    width: 188px;
    height: 144px;
    padding: 10px;
    float: left;
    border: solid 1px #cecece; }
    section .three-left h5 {
      font-weight: bold;
      color: #CC0001;
      line-height: 30px; }
    section .three-left a {
      overflow: hidden;
      font-size: 12px;
      margin: 5px; }
      section .three-left a:hover {
        text-decoration: underline;
        color: #CC0001; }
  section .three-list {
    width: 990px;
    float: right; }
    section .three-list li {
      width: 197px;
      height: 242px;
      border: solid 1px #cecece;
      float: left;
      border-top: 0;
      border-left: 0; }
  section .four-ban {
    width: 210px;
    height: auto;
    float: left;
    position: relative;
    overflow: hidden; }
    section .four-ban > div {
      width: 210px;
      height: 485px; }
    section .four-ban a {
      position: absolute;
      top: 0;
      left: 0;
      width: 210px;
      height: 485px; }
  section .sec-btn {
    height: 358px; }
    section .sec-btn > ul {
      width: 100%;
      height: 42px; }
      section .sec-btn > ul li {
        float: left;
        padding: 10px 14px;
        cursor: pointer; }
    section .sec-btn > div {
      width: 1198px;
      height: 304px;
      border: solid 1px #cecece; }
  section > figure {
    height: 190px;
    width: 1200px;
    margin: 0 auto; }
    section > figure figcaption {
      border-left: solid 7px #ff9000;
      text-indent: 5px;
      margin: 10px 0; }
    section > figure .fig-warp {
      width: 1198px;
      height: 132px;
      border: solid 1px #cecece; }
      section > figure .fig-warp > div {
        width: 585px;
        height: 60px;
        float: left;
        margin: 2px; }
        section > figure .fig-warp > div > h3 {
          width: 107px;
          height: 60px;
          float: left;
          display: flex;
          justify-content: center;
          align-items: center;
          background: #f7f7f7; }
          section > figure .fig-warp > div > h3 span {
            width: 28px;
            font-size: 14px;
            font-weight: bold;
            color: #5d6371; }
          section > figure .fig-warp > div > h3 i {
            display: block;
            width: 17px;
            height: 38px;
            margin: 0 5px;
            background: url(../img/grther.png) no-repeat -64px 0; }
        section > figure .fig-warp > div > p {
          float: left;
          width: 450px;
          margin: 5px 0; }
          section > figure .fig-warp > div > p a {
            float: left;
            color: #666;
            font-size: 12px;
            padding: 0 10px;
            border-right: solid 1px #afafaf; }

footer {
  height: 289px;
  width: 98.2%;
  background: #333333; }
  footer .footer-top {
    height: 84px;
    width: 1200px;
    margin: 0 auto;
    border-bottom: solid 1px #494949; }
    footer .footer-top > p {
      float: left;
      width: 450px;
      height: 84px;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      footer .footer-top > p i {
        display: block;
        width: 40px;
        height: 40px;
        background: url(../img/grther1.png) no-repeat -144px -22px; }
      footer .footer-top > p b {
        font-size: 25px;
        font-weight: bold;
        color: #cc0000; }
      footer .footer-top > p span {
        font-size: 14px;
        color: #fff; }
    footer .footer-top > div {
      float: right;
      position: relative;
      height: 84px;
      width: 340px;
      text-align: right;
      line-height: 84px; }
      footer .footer-top > div span {
        font-size: 12px;
        color: #fff; }
      footer .footer-top > div #eml {
        width: 240px;
        height: 30px;
        border: solid 1px #5b5b5b;
        background: #333333;
        text-indent: 3px;
        font-size: 12px; }
      footer .footer-top > div #emlbtn {
        position: absolute;
        width: 21px;
        height: 17px;
        right: 8px;
        height: 30px;
        border: 0;
        top: 50%;
        margin-top: -12px;
        background: #333333 url(../img/grther1.png) no-repeat -133px 5px; }
  footer .footer-bom {
    height: 205px;
    width: 1200px;
    margin: 0 auto; }
