body,
ul,
li,
dl,
dt,
dd,
p,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
form,
img,
table,
fieldset,
legend,
figure {
    margin: 0;
    padding: 0;
}

ul,
li,
ol {
    list-style: none;
}

img,
fieldset {
    border: 0;
}

img {
    display: block;
}

a {
    text-decoration: none;
    color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 100;
}

body {
    font-family: "微软雅黑";
}

input,
a {
    outline: none;
}

i,
em {
    font-style: normal;
}

b,
strong {
    font-weight: normal;
}

html,
body {
    height: 100%;
    width: 100%;
}

header {
    height: 117px;
    width: 98.2%;
    background: #f2f2f2;
    #header-top {
        height: 27px;
        width: 1200px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        font-size: 12px;
        color: #999999;
        align-items: center;
        >p {
            width: 200px;
            a {
                color: #999999;
                padding: 0 3px;
                &:hover {
                    color: #cc0001;
                    text-decoration: underline;
                }
            }
        }
        .head-ul>li {
            position: relative;
            float: left;
            height: 27px;
            line-height: 27px;
            padding: 0 10px;
            text-align: center;
            &:hover {
                >ul {
                    display: block
                }
                >div {
                    display: block
                }
            }
            >a {
                float: left;
                width: 100%;
                height: 100%;
                color: #999999;
                &:hover {
                    color: #cc0001;
                    text-decoration: underline;
                }
            }
            span {
                color: #cc0001;
            }
        }
        .head-ul>li:nth-child(6) {
            a {
                background: #cc0001;
                color: #fff;
                border-radius: 4px;
            }
        }
        .head-nav {
            position: absolute;
            bottom: -330px;
            left: 0;
            z-index: 1;
            display: none;
            li {
                width: 180px;
                height: 80px;
                padding: 10px;
                background: #fff;
                h4 {
                    text-align: left;
                    color: black;
                    font-size: 16px;
                    padding: 0 5px;
                }
                p {
                    a {
                        float: left;
                        padding: 0 5px;
                        color: #666;
                        &:hover {
                            color: #cc0001;
                            text-decoration: underline;
                        }
                    }
                    span {
                        font-weight: bold;
                        color: black;
                    }
                }
            }
            li:nth-child(4) {
                height: 30px;
                padding: 0 10px;
            }
            li:nth-child(2n-1) {
                background: #F9F9F9;
            }
            li:nth-child(2n) {
                background: #ededed;
            }
        }
    }
    .adv {
        display: block;
        font-size: 12px;
        width: 100%;
        height: 90px;
        background: url(http://img08.jiuxian.com/bill/2017/1104/88a1653c492444658bea9aaf4204345f.jpg) no-repeat center;
    }
    .head-me {
        &:hover {
            background: #fff;
        }
        >ul {
            position: absolute;
            left: 0;
            bottom: -81px;
            width: 100%;
            display: none;
            li {
                width: 100%;
                height: 27px;
                font-size: 12px;
                background: #fff;
                &:hover a {
                    color: #cc0001;
                    text-decoration: underline;
                }
            }
        }
    }
    .ewm {
        bottom: -92px;
        left: -5px;
        width: 90px;
        height: 90px;
        border: solid 1px #aaa;
        position: absolute;
        display: none;
        background: #fff url(../img/erweima.jpg) no-repeat center;
    }
}

#flank {
    position: fixed;
    height: 100%;
    width: 1.8%;
    background: #fff;
    right: 0;
    top: 0;
    font-size: 14px;
    z-index: 3;
    .nav>li:hover {
        background: #ce171f;
        >div {
            display: block
        }
        >a {
            color: #fff;
        }
    }
    .nav {
        width: 100%;
        position: absolute;
        top: 25%;
        >li {
            position: relative;
            padding: 10px 0;
            width: 100%;
            font-size: 13px;
            >a {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                span {
                    display: block;
                    width: 19px;
                    height: 19px;
                }
            }
        }
    }
    .feed {
        width: 100%;
        position: absolute;
        bottom: 25px;
        li {
            width: 100%;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            a {
                display: block;
                width: 15px;
                height: 16px;
            }
            p {
                position: absolute;
                width: 80px;
                height: 30px;
                text-align: center;
                line-height: 30px;
                background: #fff;
                font-size: 12px;
                right: 27px;
                text-align: center;
                display: none;
                a {
                    width: 100%;
                    height: 100%;
                    display: block;
                }
            }
            i {
                position: absolute;
                top: 0;
                right: 27px;
                display: block;
                width: 90px;
                height: 90px;
                background: #fff url(../img/erweima.jpg) no-repeat center;
                display: none;
            }
            &:hover {
                background: #CC0000;
                >p {
                    display: block;
                }
                >i {
                    display: block
                }
            }
        }
    }
    .nav-one {
        >div {
            position: absolute;
            background: #fff;
            width: 340px;
            height: 350px;
            border: solid 1px #cecece;
            right: 27px;
            top: 0;
            display: none;
            >div {
                width: 100%;
                height: 115px;
                border-top: solid 1px #cecece;
                >a {
                    float: left;
                    width: 50%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    i {
                        width: 26px;
                        height: 26px;
                        display: block;
                    }
                    span {
                        margin: 10px 0;
                        display: block;
                    }
                }
            }
            >.via {
                display: flex;
                justify-content: center;
                align-items: center;
                border-top: 0;
                i {
                    width: 60px;
                    height: 60px;
                    display: block;
                    border-radius: 50%;
                    padding: 5px;
                    border: solid 2px #cecece;
                    background: url(../img/via.jpg) no-repeat center
                }
                p {
                    margin: 0 30px;
                    a {
                        color: #CC0001;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
    .coll {
        position: relative;
        >div {
            display: none;
            .via {
                position: absolute;
                border: solid 1px #cecece;
                background: #fff;
                top: 0;
                right: 27px;
                width: 340px;
                height: 115px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-top: 0;
                i {
                    width: 60px;
                    height: 60px;
                    display: block;
                    border-radius: 50%;
                    padding: 5px;
                    border: solid 2px #cecece;
                    background: url(../img/via.jpg) no-repeat center
                }
                p {
                    margin: 0 30px;
                    a {
                        color: #CC0001;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
}

#search {
    height: 125px;
    width: 98.2%;
    background: url(http://img08.jiuxian.com/bill/2017/1102/5512401024004ee59224c5fbc0b8f422.jpg) no-repeat center;
    .search-warp {
        width: 1200px;
        height: 100%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .fom {
            width: 540px;
            height: 60px;
            position: relative;
            #txt {
                width: 540px;
                height: 38px;
                border: solid 3px #cc0000;
                box-sizing: border-box;
                text-indent: 5px;
            }
            #btn {
                width: 85px;
                height: 32px;
                position: absolute;
                right: 3px;
                top: 3px;
                background: #CC0000;
                border: 0;
                font-size: 18px;
                color: #fff;
                cursor: pointer;
            }
            p {
                a {
                    font-size: 12px;
                    color: #999999;
                    border-right: solid 1px #999999;
                    padding-right: 10px;
                    &:hover {
                        text-decoration: underline;
                        color: #CC0000;
                    }
                }
                a:nth-child(10) {
                    border: 0;
                }
            }
        }
        .caq {
            display: block;
            width: 106px;
            height: 44px;
            display: flex;
            justify-content: center;
            align-items: center;
            i {
                float: left;
                width: 44px;
                height: 44px;
                font-size: 12px;
                background: url(../img/grther1.png) no-repeat 0 -22px;
            }
            b {
                font-size: 12px;
                float: left;
                width: 40px;
                text-align: center;
                line-height: 18px;
            }
        }
        .caw {
            display: block;
            width: 106px;
            height: 44px;
            display: flex;
            justify-content: center;
            align-items: center;
            i {
                float: left;
                width: 44px;
                height: 44px;
                font-size: 12px;
                background: url(../img/grther1.png) no-repeat 0 -22px;
            }
            b {
                font-size: 12px;
                float: left;
                width: 60px;
                text-align: center;
                line-height: 18px;
            }
        }
        .cae {
            display: block;
            width: 106px;
            height: 44px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

#banner {
    position: relative;
    width: 98.2%;
    height: 504px;
    margin-bottom: 10px;
    .ban {
        li {
            position: absolute;
            width: 100%;
            height: 470px;
            top: 34px;
            left: 0;
            display: none;
            a {
                display: block;
                width: 100%;
                height: 470px;
            }
        }
    }
    >p {
        position: absolute;
        width: 300px;
        left: 50%;
        margin-left: -100px;
        bottom: 15px;
        span {
            float: left;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            text-align: center;
            line-height: 20px;
            font-size: 12px;
            color: #fff;
            background: #330a0e;
            margin: 0 2px;
            cursor: pointer;
        }
        .ban-span {
            background: #e31632;
        }
    }
    .ban-warp {
        width: 100%;
        height: 34px;
        background: #990000;
        margin: 0 auto;
        .warp-top {
            width: 1200px;
            height: 34px;
            margin: 0 auto;
            >a {
                float: right;
            }
            .classify {
                float: left;
                width: 190px;
                height: 504px;
                z-index: 1;
                h2 {
                    background: #ce171f;
                    font-size: 15px;
                    font-weight: bold;
                    text-align: center;
                    line-height: 34px;
                    a {
                        display: block;
                        color: #fff;
                        height: 34px;
                        width: 190px;
                    }
                }
                >div {
                    position: relative;
                    height: 58px;
                    width: 170px;
                    font-size: 12px;
                    padding: 10px;
                    background: #fff;
                    border-bottom: solid 1px #e4e4e4;
                    &:hover {
                        background: #F1F1F1;
                        border-left: solid 2px #CC0000;
                        margin-left: -2px;
                        >div {
                            display: block
                        }
                    }
                    >h4 {
                        font-size: 14px;
                        margin: 3px 0;
                        text-indent: 25px;
                        display: flex;
                        align-content: center;
                        align-items: center;
                        i {
                            width: 14px;
                            height: 19px;
                            float: left;
                        }
                    }
                    >a {
                        display: block;
                        float: left;
                        color: #666666;
                        margin: 2px 6px;
                    }
                    b {
                        display: block;
                        background: #ff9900;
                        color: #fff;
                        border-radius: 2px;
                    }
                    >div {
                        width: 775px;
                        height: 470px;
                        position: absolute;
                        top: 0;
                        left: 190px;
                        background: #fff;
                        display: none;
                        >a {
                            width: 220px;
                            height: 470px;
                            float: left;
                        }
                        .ify-left {
                            width: 113px;
                            height: 470px;
                            background: #f1f1f1;
                            float: left;
                            p {
                                width: 113px;
                                text-align: center;
                                height: 37px;
                                line-height: 37px;
                            }
                            p:nth-child(1) {
                                height: 73px;
                                line-height: 73px;
                            }
                        }
                        .ify-left-wine {
                            width: 113px;
                            height: 470px;
                            background: #f1f1f1;
                            float: left;
                            p {
                                width: 113px;
                                text-align: center;
                                height: 37px;
                                line-height: 37px;
                            }
                            p:nth-child(5),
                            p:nth-child(7) {
                                height: 73px;
                                line-height: 73px;
                            }
                            p:nth-child(6) {
                                height: 110px;
                                line-height: 110px;
                            }
                        }
                        .ify-right {
                            float: left;
                            width: 442px;
                            ul {
                                width: 350px;
                                height: 470px;
                                margin: 0 auto;
                                li {
                                    height: auto;
                                    width: 350px;
                                    border-bottom: solid 1px #cecece;
                                    overflow: hidden;
                                    a {
                                        display: block;
                                        padding: 10px;
                                        float: left;
                                        span {
                                            color: orangered;
                                        }
                                        &:hover {
                                            color: #CC0001;
                                        }
                                    }
                                }
                            }
                        }
                        .ify-right-noimg {
                            float: left;
                            width: 662px;
                            ul {
                                width: 570px;
                                height: 470px;
                                margin: 0 auto;
                                li {
                                    height: auto;
                                    width: 570px;
                                    border-bottom: solid 1px #cecece;
                                    overflow: hidden;
                                    a {
                                        display: block;
                                        padding: 10px;
                                        float: left;
                                        span {
                                            color: orangered;
                                        }
                                        &:hover {
                                            color: #CC0001;
                                        }
                                    }
                                }
                            }
                        }
                        .ify-left-tea {
                            width: 113px;
                            height: 470px;
                            background: #f1f1f1;
                            float: left;
                            p {
                                width: 113px;
                                text-align: center;
                                height: 37px;
                                line-height: 37px;
                            }
                            p:nth-child(2) {
                                height: 73px;
                                line-height: 73px;
                            }
                        }
                        .ify-left-yangjiu {
                            width: 113px;
                            height: 470px;
                            background: #f1f1f1;
                            float: left;
                            p {
                                width: 113px;
                                text-align: center;
                                height: 73px;
                                line-height: 73px;
                            }
                            p:nth-child(3) {
                                height: 37px;
                                line-height: 37px;
                            }
                        }
                    }
                }
            }
            .listbox {
                float: left;
                li {
                    position: relative;
                    float: left;
                    a {
                        display: block;
                        padding: 0 20px;
                        color: #fff;
                        line-height: 34px;
                        font-size: 13px;
                        &:hover {
                            background: #b40c10;
                        }
                    }
                    i {
                        position: absolute;
                        width: 29px;
                        height: 17px;
                        top: -7px;
                        right: 3px;
                    }
                }
            }
        }
    }
}

#lisibox {
    width: 98.2%;
    height: auto;
    position: relative;
    overflow: hidden;
    z-index: -1;
    .bgleft {
        a {
            display: block;
            height: 959px;
            width: 361px;
            position: absolute;
            left: -215px;
        }
    }
    .bgright {
        a {
            display: block;
            height: 959px;
            width: 361px;
            position: absolute;
            right: -215px;
            z-index: -1;
        }
    }
    .content-warp {
        width: 1200px;
        height: 959px;
        margin: 0 auto;
        overflow: hidden;
        .content {
            width: 920px;
            height: 498px;
            float: left;
            .acl {
                float: left;
                height: 35px;
                z-index: 3;
                li {
                    width: 182px;
                    height: 35px;
                    float: left;
                    text-align: center;
                    background: #f9f9f9;
                    line-height: 35px;
                    cursor: pointer;
                    border: solid 1px #ececec;
                    border-top: solid 2px #ECECEC;
                    cursor: pointer;
                }
                .acl-z {
                    color: #cc0000;
                    border-top: solid 2px #cc0000;
                    background: #fff;
                    border-bottom: #E4E4E4;
                }
            }
            .pro {
                float: left;
                width: 918px;
                height: 425px;
                border: solid 1px #ECECEC;
                border-top: 0;
                position: relative;
                ul {
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    display: none;
                }
                li {
                    float: left;
                    height: 210px;
                    width: 183px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    p {
                        padding: 0 10px;
                        width: 160px;
                        font-size: 12px;
                        color: #666;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        &:hover {
                            color: #CC0001;
                            text-decoration: underline;
                        }
                    }
                    span {
                        padding: 0 10px;
                        color: red;
                        font-size: 12px;
                    }
                }
            }
        }
        .aff {
            float: right;
            .acl2 {
                height: 35px;
                li {
                    width: 132px;
                    height: 35px;
                    float: left;
                    text-align: center;
                    background: #f9f9f9;
                    line-height: 35px;
                    cursor: pointer;
                    border: solid 1px #ececec;
                    border-top: solid 2px #ECECEC;
                }
                .acl-z {
                    color: #cc0000;
                    border-top: solid 2px #cc0000;
                    background: #fff;
                    border-bottom: #E4E4E4;
                }
            }
            .aff-cont {
                width: 218px;
                height: 78px;
                padding: 0 25px;
                border: solid 1px #ECECEC;
                a {
                    width: 100px;
                    font-size: 12px;
                    float: left;
                    margin: 2px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    &:hover {
                        color: #ff9900;
                        text-decoration: underline;
                    }
                }
                .aff-cont-right {
                    display: none;
                }
            }
        }
        .smlban {
            position: relative;
            width: 268px;
            height: 157px;
            border: solid 1px #ECECEC;
            float: right;
            margin: 10px 0;
            a {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
            }
            p {
                position: absolute;
                left: 10px;
                bottom: 10px;
                span {
                    float: left;
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    background: #aaa;
                    margin: 0 5px;
                    cursor: pointer;
                }
                .sml-span {
                    background: cornflowerblue;
                }
            }
        }
        .smlban1 {
            width: 268px;
            height: 178px;
            position: relative;
            border: solid 1px #ECECEC;
            float: right;
            a {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
            }
            p {
                position: absolute;
                left: 10px;
                bottom: 10px;
                span {
                    float: left;
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    background: #aaa;
                    margin: 0 5px;
                    cursor: pointer;
                }
                .sml-span {
                    background: cornflowerblue;
                }
            }
        }
        .shuang11 {
            width: 100%;
            height: 110px;
            float: left;
            background: url(../img/shuang11huodong.jpg);
            a {
                float: left;
                height: 110px;
                width: 393px;
                background: #edecf4;
            }
        }
        >figure {
            position: relative;
            float: left;
            width: 100%;
            >div {
                float: left;
                height: 257px;
                width: 1200px;
                position: absolute;
            }
            figcaption {
                width: 100%;
                height: 40px;
                font-size: 14px;
                display: flex;
                margin-top: 30px;
                justify-content: space-between;
                h3 {
                    height: 40px;
                    line-height: 40px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    i {
                        display: block;
                        width: 20px;
                        height: 20px;
                        margin-left: 5px;
                        background: url(../img/grther.png) no-repeat left top;
                    }
                    span {
                        margin-left: 10px;
                    }
                }
                p {
                    display: flex;
                    align-items: center;
                    span {
                        float: left;
                        width: 9px;
                        height: 9px;
                        background: #ccc;
                        margin: 0 10px;
                        cursor: pointer;
                    }
                    .shuang11-span {
                        background: #cc0000;
                    }
                }
            }
            ul {
                height: 257px;
                width: 1200px;
                li {
                    float: left;
                    height: 237px;
                    width: 180px;
                    display: flex;
                    flex-direction: column;
                    padding: 10px;
                    justify-content: center;
                    p {
                        padding: 0 10px;
                        width: 160px;
                        font-size: 12px;
                        color: #666;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        &:hover {
                            color: #CC0001;
                            text-decoration: underline;
                        }
                    }
                    span {
                        padding: 0 10px;
                        color: red;
                        font-size: 12px;
                    }
                }
            }
        }
    }
}

section {
    width: 98.2%;
    height: auto;
    background: #f9f9f9;
    >div {
        height: 700px;
        width: 1200px;
        margin: 0 auto;
    }
    .cap {
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 12px;
        h3 {
            display: flex;
            justify-content: center;
            align-items: center;
            i {
                display: block;
                width: 28px;
                height: 29px;
                font-size: 20px;
                line-height: 29px;
                text-align: center;
                color: #fff;
                margin-right: 10px;
            }
            span {
                font-size: 18px;
            }
        }
        p {
            >a {
                color: #999999;
                padding: 0 12px;
                border-right: solid 1px #999;
                &:hover {
                    color: #CC0001;
                    text-decoration: underline;
                }
            }
            i {
                display: block;
                float: right;
                padding: 0 5px;
                background: #d43d4e;
                border-radius: 2px;
                margin-right: 10px;
                a {
                    color: #fff;
                }
            }
        }
    }
    .one-cont {
        border-top: solid 2px #c94b56;
        .one-ban {
            width: 210px;
            height: auto;
            float: left;
            position: relative;
            overflow: hidden;
            >div {
                width: 210px;
                height: 485px;
            }
            a {
                position: absolute;
                top: 0;
                left: 0;
                width: 210px;
                height: 485px;
                display: none;
            }
        }
        .one-p {
            width: 210px;
            position: absolute;
            bottom: 10px;
            display: flex;
            justify-content: center;
            span {
                display: block;
                width: 13px;
                height: 13px;
                margin: 0 5px;
                background: #fff;
                border-radius: 50%;
                float: left;
                cursor: pointer;
            }
            .one-span {
                background: orangered;
            }
        }
        .one-list {
            width: 990px;
            float: left;
            li {
                width: 197px;
                height: 242px;
                border: solid 1px #cecece;
                float: left;
                border-top: 0;
                border-left: 0;
            }
        }
        .one-left {
            width: 188px;
            height: 141px;
            padding: 10px;
            float: left;
            border: solid 1px #cecece;
            h5 {
                font-weight: bold;
                color: #CC0001;
                line-height: 30px;
            }
            a {
                overflow: hidden;
                font-size: 12px;
                margin: 5px;
                &:hover {
                    text-decoration: underline;
                    color: #CC0001;
                }
            }
        }
        .one-right {
            width: 987px;
            height: 161px;
            float: left;
            border: solid 1px #cecece;
            position: relative;
            .one-right-t {
                height: 32px;
                width: 967px;
                padding: 0 10px;
                display: flex;
                justify-content: space-between;
                font-size: 12px;
                h6 {
                    font-weight: bold;
                    font-size: 12px;
                    color: #d43d4e;
                    i {
                        display: inline-block;
                        width: 11px;
                        height: 13px;
                        background: url(../img/grther.png) no-repeat -38px 0;
                    }
                }
                p {
                    span {
                        float: left;
                        padding: 0 15px;
                        color: #666666;
                        cursor: pointer;
                        border-right: solid 1px #ccc;
                    }
                    .btn-span{
                        color: #CC0001;;
                     
                    }
                }
            }
            >ul {
                width: 987px;
                height: 129px;
                position: absolute;
                display: none;
                bottom: 0;
                left: 0;
                li {
                    height: 119px;
                    width: 184px;
                    padding: 6px;
                    float: left;
                    img{
                        width: 100px;
                        float: left;
                    }
                    a{
                        float: left;
                    }
                    p {
                        width: 80px;
                        font-size: 12px;
                        color: #666;
                        
                        float: left;
                        &:hover {
                            color: #CC0001;
                            text-decoration: underline;
                        }
                    }
                    span {
                        color: red;
                        font-size: 20px;
                    }
        }
            }
        }
    }
    .two-cont {
        border-top: solid 2px #c37632;
    }
    .three,
    .four,
    .five {
        height: 540px;
    }
    .three-cont {
        border-top: solid 2px #276594;
        height: 485px;
    }
    .four-cont {
        border-top: solid 2px #6c9d0e;
        height: 485px;
    }
    .five-cont {
        border-top: solid 2px #fe7a65;
        height: 485px;
    }
    .three-ban {
        width: 210px;
        height: auto;
        float: left;
        position: relative;
        overflow: hidden;
        >div {
            width: 210px;
            height: 320px;
        }
        a {
            position: absolute;
            top: 0;
            left: 0;
            width: 210px;
            height: 320px;
        }
    }
    .three-left {
        width: 188px;
        height: 144px;
        padding: 10px;
        float: left;
        border: solid 1px #cecece;
        h5 {
            font-weight: bold;
            color: #CC0001;
            line-height: 30px;
        }
        a {
            overflow: hidden;
            font-size: 12px;
            margin: 5px;
            &:hover {
                text-decoration: underline;
                color: #CC0001;
            }
        }
    }
    .three-list {
        width: 990px;
        float: right;
        li {
            width: 197px;
            height: 242px;
            border: solid 1px #cecece;
            float: left;
            border-top: 0;
            border-left: 0;
        }
    }
    .four-ban {
        width: 210px;
        height: auto;
        float: left;
        position: relative;
        overflow: hidden;
        >div {
            width: 210px;
            height: 485px;
        }
        a {
            position: absolute;
            top: 0;
            left: 0;
            width: 210px;
            height: 485px;
        }
    }
    .sec-btn {
        height: 358px;
        position: relative;
        >p{
            position: absolute;
            width: 92px;
            height: 3px;
            background: #CC0000;
            top: 39px;
            i{
                position: absolute;
                display: block;
                width: 9px;
                height: 5px;
                background: url(../img/grther1.png) no-repeat -116px 0;
                bottom: 2px;
                left: 50%;
                margin-left: -4.5px;
            }
        }
        >ul {
            width: 100%;
            height: 42px;
            li {
                float: left;
                padding: 10px 0;
                width: 92px;
                text-align: center;
                cursor: pointer;
                color: #666;
                position: relative;
            }
        }
        >div {
            width: 1198px;
            height: 304px;
            border: solid 1px #cecece;
            position: relative;
            >ul{
                width: 1182px;
                height: 288px;
                padding: 8px;
                position: absolute;
                display: none;
                li{
                    width: 180px;
                    height: 80px;
                    position: relative;
                    overflow: hidden;
                    float: left;
                    margin: 8px;
                    img{
                        position: absolute;
                    }
                }
            }
        }
    }
    >figure {
        height: 190px;
        width: 1200px;
        margin: 0 auto;
        figcaption {
            border-left: solid 7px #ff9000;
            text-indent: 5px;
            margin: 10px 0;
        }
        .fig-warp {
            width: 1198px;
            height: 132px;
            border: solid 1px #cecece;
            >div {
                width: 585px;
                height: 60px;
                float: left;
                margin: 2px;
                >h3 {
                    width: 107px;
                    height: 60px;
                    float: left;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: #f7f7f7;
                    span {
                        width: 28px;
                        font-size: 14px;
                        font-weight: bold;
                        color: #5d6371;
                    }
                    i {
                        display: block;
                        width: 17px;
                        height: 38px;
                        margin: 0 5px;
                        background: url(../img/grther.png) no-repeat -64px 0;
                    }
                }
                >p {
                    float: left;
                    width: 450px;
                    margin: 5px 0;
                    a {
                        float: left;
                        color: #666;
                        font-size: 12px;
                        padding: 0 10px;
                        border-right: solid 1px #afafaf;
                    }
                }
            }
        }
    }
    .selist {
        li {
            display: flex;
            flex-direction: column;
            justify-content: center;
            p {
                padding: 0 10px;
                width: 160px;
                font-size: 12px;
                color: #666;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                &:hover {
                    color: #CC0001;
                    text-decoration: underline;
                }
            }
            span {
                padding: 0 10px;
                color: red;
                font-size: 12px;
            }
        }
    }
}

footer {
    height: 289px;
    width: 98.2%;
    background: #333333;
    .footer-top {
        height: 84px;
        width: 1200px;
        margin: 0 auto;
        border-bottom: solid 1px #494949;
        >p {
            float: left;
            width: 450px;
            height: 84px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            i {
                display: block;
                width: 40px;
                height: 40px;
                background: url(../img/grther1.png) no-repeat -144px -22px;
            }
            b {
                font-size: 25px;
                font-weight: bold;
                color: #cc0000;
            }
            span {
                font-size: 14px;
                color: #fff;
            }
        }
        >div {
            float: right;
            position: relative;
            height: 84px;
            width: 340px;
            text-align: right;
            line-height: 84px;
            span {
                font-size: 12px;
                color: #fff;
            }
            #eml {
                width: 240px;
                height: 30px;
                border: solid 1px #5b5b5b;
                background: #333333;
                text-indent: 3px;
                font-size: 12px;
            }
            #emlbtn {
                position: absolute;
                width: 21px;
                height: 17px;
                right: 8px;
                height: 30px;
                border: 0;
                top: 50%;
                margin-top: -12px;
                background: #333333 url(../img/grther1.png) no-repeat -133px 5px;
            }
        }
    }
    .footer-bom {
        height: 205px;
        width: 1200px;
        margin: 0 auto;
        >dl {
            margin: 30px 35px;
            float: left;
            dt {
                width: 120px;
                height: 25px;
                color: #fff;
                font-size: 14px;
                padding: 5px;
                text-align: center;
                margin-left: -35px;
                i {
                    width: 27px;
                    height: 26px;
                    float: left;
                    margin-right: 8px;
                }
                span {
                    float: left;
                    line-height: 27px;
                }
            }
            dd {
                width: 60px;
                padding: 5px;
                color: #cccccc;
                font-size: 12px;
                a {
                    color: #ccc;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
        >div {
            float: left;
            margin: 30px;
            width: 120px;
            height: 40px;
            p {
                margin: 10px;
                a {
                    width: 120px;
                    line-height: 28px;
                    display: block;
                    height: 28px;
                    color: #fff;
                    font-size: 12px;
                    i {
                        width: 28px;
                        height: 28px;
                        display: block;
                        float: left;
                        margin-right: 10px;
                    }
                }
            }
        }
    }
}