nav {
  width: 100%;
  height: 34px;
  background: #990000;
  margin: 0 auto; }
  nav .warp-top {
    width: 1200px;
    height: 34px;
    margin: 0 auto; }
    nav .warp-top > a {
      float: right; }
    nav .warp-top .classify {
      float: left;
      width: 190px;
      height: auto;
      z-index: 1;
      position: relative; }
      nav .warp-top .classify h2 {
        background: #ce171f;
        font-size: 15px;
        font-weight: bold;
        text-align: center;
        line-height: 34px; }
        nav .warp-top .classify h2 a {
          display: block;
          color: #fff;
          height: 34px;
          width: 190px; }
      nav .warp-top .classify > div {
        display: none;
        z-index: 4;
        position: absolute;
        float: left;
        height: 58px;
        width: 170px;
        font-size: 12px;
        padding: 10px;
        background: #fff;
        border-bottom: solid 1px #e4e4e4; }
        nav .warp-top .classify > div:hover {
          background: #F1F1F1;
          border-left: solid 2px #CC0000;
          margin-left: -2px; }
          nav .warp-top .classify > div:hover > div {
            display: block; }
        nav .warp-top .classify > div > h4 {
          font-size: 14px;
          margin: 3px 0;
          text-indent: 25px;
          display: flex;
          align-content: center;
          align-items: center; }
          nav .warp-top .classify > div > h4 i {
            width: 14px;
            height: 19px;
            float: left; }
        nav .warp-top .classify > div > a {
          display: block;
          float: left;
          color: #666666;
          margin: 2px 6px; }
        nav .warp-top .classify > div b {
          display: block;
          background: #ff9900;
          color: #fff;
          border-radius: 2px; }
        nav .warp-top .classify > div > div {
          width: 775px;
          height: 470px;
          position: absolute;
          top: 0;
          left: 190px;
          background: #fff;
          display: none; }
          nav .warp-top .classify > div > div > a {
            width: 220px;
            height: 470px;
            float: left; }
          nav .warp-top .classify > div > div .ify-left {
            width: 113px;
            height: 470px;
            background: #f1f1f1;
            float: left; }
            nav .warp-top .classify > div > div .ify-left p {
              width: 113px;
              text-align: center;
              height: 37px;
              line-height: 37px; }
            nav .warp-top .classify > div > div .ify-left p:nth-child(1) {
              height: 73px;
              line-height: 73px; }
          nav .warp-top .classify > div > div .ify-left-wine {
            width: 113px;
            height: 470px;
            background: #f1f1f1;
            float: left; }
            nav .warp-top .classify > div > div .ify-left-wine p {
              width: 113px;
              text-align: center;
              height: 37px;
              line-height: 37px; }
            nav .warp-top .classify > div > div .ify-left-wine p:nth-child(5),
            nav .warp-top .classify > div > div .ify-left-wine p:nth-child(7) {
              height: 73px;
              line-height: 73px; }
            nav .warp-top .classify > div > div .ify-left-wine p:nth-child(6) {
              height: 110px;
              line-height: 110px; }
          nav .warp-top .classify > div > div .ify-right {
            float: left;
            width: 442px; }
            nav .warp-top .classify > div > div .ify-right ul {
              width: 350px;
              height: 470px;
              margin: 0 auto; }
              nav .warp-top .classify > div > div .ify-right ul li {
                height: auto;
                width: 350px;
                border-bottom: solid 1px #cecece;
                overflow: hidden; }
                nav .warp-top .classify > div > div .ify-right ul li a {
                  display: block;
                  padding: 10px;
                  float: left; }
                  nav .warp-top .classify > div > div .ify-right ul li a span {
                    color: orangered; }
                  nav .warp-top .classify > div > div .ify-right ul li a:hover {
                    color: #CC0001; }
          nav .warp-top .classify > div > div .ify-right-noimg {
            float: left;
            width: 662px; }
            nav .warp-top .classify > div > div .ify-right-noimg ul {
              width: 570px;
              height: 470px;
              margin: 0 auto; }
              nav .warp-top .classify > div > div .ify-right-noimg ul li {
                height: auto;
                width: 570px;
                border-bottom: solid 1px #cecece;
                overflow: hidden; }
                nav .warp-top .classify > div > div .ify-right-noimg ul li a {
                  display: block;
                  padding: 10px;
                  float: left; }
                  nav .warp-top .classify > div > div .ify-right-noimg ul li a span {
                    color: orangered; }
                  nav .warp-top .classify > div > div .ify-right-noimg ul li a:hover {
                    color: #CC0001; }
          nav .warp-top .classify > div > div .ify-left-tea {
            width: 113px;
            height: 470px;
            background: #f1f1f1;
            float: left; }
            nav .warp-top .classify > div > div .ify-left-tea p {
              width: 113px;
              text-align: center;
              height: 37px;
              line-height: 37px; }
            nav .warp-top .classify > div > div .ify-left-tea p:nth-child(2) {
              height: 73px;
              line-height: 73px; }
          nav .warp-top .classify > div > div .ify-left-yangjiu {
            width: 113px;
            height: 470px;
            background: #f1f1f1;
            float: left; }
            nav .warp-top .classify > div > div .ify-left-yangjiu p {
              width: 113px;
              text-align: center;
              height: 73px;
              line-height: 73px; }
            nav .warp-top .classify > div > div .ify-left-yangjiu p:nth-child(3) {
              height: 37px;
              line-height: 37px; }
    nav .warp-top .listbox {
      float: left; }
      nav .warp-top .listbox li {
        position: relative;
        float: left; }
        nav .warp-top .listbox li a {
          display: block;
          padding: 0 20px;
          color: #fff;
          line-height: 34px;
          font-size: 13px; }
          nav .warp-top .listbox li a:hover {
            background: #b40c10; }
        nav .warp-top .listbox li i {
          position: absolute;
          width: 29px;
          height: 17px;
          top: -7px;
          right: 3px; }

section {
  width: 1200px;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
  margin-top: 10px; }
  section #left {
    width: 200px;
    height: auto;
    float: left;
    margin-right: 10px; }
    section #left h3 {
      font-weight: bold;
      color: #666;
      width: 200px;
      height: 40px;
      font-size: 14px;
      line-height: 40px;
      background: #fafafa;
      border: solid 1px #cecece;
      text-indent: 10px; }
    section #left ul {
      width: 200px;
      height: auto;
      border: solid 1px #cecece; }
      section #left ul li {
        width: 180px;
        height: 240px;
        padding: 10px; }
        section #left ul li img {
          cursor: pointer;
          width: 160px;
          height: 160px; }
        section #left ul li p {
          font-size: 12px;
          color: #CF010E;
          font-weight: bold; }
        section #left ul li a {
          font-size: 12px; }
          section #left ul li a:hover {
            color: #CC0001;
            text-decoration: underline; }
  section #right {
    float: left;
    width: 990px;
    font-size: 12px; }
    section #right .listbox {
      width: 990px; }
      section #right .listbox .listbox-top {
        height: 38px;
        line-height: 38px;
        border-top: solid 2px #B40C10; }
        section #right .listbox .listbox-top p {
          float: left;
          width: 290px;
          position: relative; }
          section #right .listbox .listbox-top p i {
            margin: 0 20px; }
          section #right .listbox .listbox-top p .cx {
            width: 120px; }
          section #right .listbox .listbox-top p .ss {
            position: absolute;
            width: 15px;
            height: 15px;
            right: 10px;
            top: 50%;
            margin-top: -7px;
            border: 0;
            background: #fff url(../img/srpIcons.png) no-repeat -30px 0; }
          section #right .listbox .listbox-top p a:hover {
            color: #CC0001;
            text-decoration: underline; }
        section #right .listbox .listbox-top span {
          float: right; }
          section #right .listbox .listbox-top span i {
            color: #CC0001; }
      section #right .listbox .listbox-mid {
        width: 990px;
        height: auto; }
        section #right .listbox .listbox-mid > div {
          height: auto;
          overflow: hidden;
          border: solid 1px #cecece; }
          section #right .listbox .listbox-mid > div h3 {
            width: 115px;
            height: 78px;
            background: #f1f1f1;
            float: left;
            font-size: 12px;
            color: #CC0001; }
            section #right .listbox .listbox-mid > div h3 p {
              padding: 10px; }
          section #right .listbox .listbox-mid > div div {
            width: 872px;
            float: left; }
            section #right .listbox .listbox-mid > div div a {
              color: #999;
              float: left;
              margin: 3px 8px;
              padding: 2px; }
              section #right .listbox .listbox-mid > div div a:hover {
                background: #CC0000;
                color: #fff; }
    section #right .cont {
      width: 990px;
      height: auto; }
      section #right .cont ul {
        width: 990px; }
        section #right .cont ul li {
          float: left;
          width: 225px;
          height: 398px;
          padding: 10px; }
          section #right .cont ul li img {
            width: 220px;
            height: 220px;
            cursor: pointer; }
          section #right .cont ul li p {
            color: #CC0001;
            font-size: 20px;
            width: 100%;
            margin: 5px 0; }
          section #right .cont ul li a {
            float: left;
            width: 100%;
            height: 30px;
            color: black; }
            section #right .cont ul li a:hover {
              color: #CC0001; }
          section #right .cont ul li .twoa {
            color: cornflowerblue;
            margin: 5px 0; }
          section #right .cont ul li span {
            float: left;
            width: 100%;
            margin: 5px 0; }
          section #right .cont ul li .cat {
            border: 0;
            width: 80px;
            height: 25px;
            padding: 0 15px;
            border: solid 1px #ddd;
            color: #cf010e;
            background: #fff url(../img/srpIcons.png) no-repeat -250px -3px;
            line-height: 25px;
            text-align: right; }
            section #right .cont ul li .cat:hover {
              background: #CF010E url(../img/srpIcons.png) no-repeat -250px -33px;
              color: #fff; }

#maimaimai {
  width: 290px;
  height: 90px;
  border: solid 8px rgba(0, 0, 0, 0.7);
  padding: 30px 20px;
  background: #fff;
  z-index: 5;
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  font-size: 12px;
  display: none; }
  #maimaimai i {
    float: left;
    width: 32px;
    height: 32px;
    background: url(../img/lsp_bt2n.png) no-repeat 0 0; }
  #maimaimai h3 {
    margin-left: 50px;
    font-size: 16px;
    margin-bottom: 20px; }
  #maimaimai p {
    margin-left: 50px;
    color: #666;
    margin-bottom: 20px; }
  #maimaimai a {
    margin-left: 50px;
    color: #ca1728; }
  #maimaimai a:nth-of-type(2) {
    padding: 3px 10px;
    background: #ca1728;
    color: #fff;
    border-radius: 4px; }
