nav {
    width: 100%;
    height: 34px;
    background: #990000;
    margin: 0 auto;
    .warp-top {
        width: 1200px;
        height: 34px;
        margin: 0 auto;
        >a {
            float: right;
        }
        .classify {
            float: left;
            width: 190px;
            height: auto;
            z-index: 1;
            position: relative;
            h2 {
                background: #ce171f;
                font-size: 15px;
                font-weight: bold;
                text-align: center;
                line-height: 34px;
                a {
                    display: block;
                    color: #fff;
                    height: 34px;
                    width: 190px;
                }
            }
            >div {
                display: none;
                top: 470px;
                height: 58px;
                width: 170px;
                font-size: 12px;
                padding: 10px;
                background: #fff;
                border-bottom: solid 1px #e4e4e4;
                &:hover {
                    background: #F1F1F1;
                    border-left: solid 2px #CC0000;
                    margin-left: -2px;
                    >div {
                        display: block
                    }
                }
                >h4 {
                    font-size: 14px;
                    margin: 3px 0;
                    text-indent: 25px;
                    display: flex;
                    align-content: center;
                    align-items: center;
                    i {
                        width: 14px;
                        height: 19px;
                        float: left;
                    }
                }
                >a {
                    display: block;
                    float: left;
                    color: #666666;
                    margin: 2px 6px;
                }
                b {
                    display: block;
                    background: #ff9900;
                    color: #fff;
                    border-radius: 2px;
                }
                >div {
                    width: 775px;
                    height: 470px;
                    position: absolute;
                    top: 34px;
                    left: 190px;
                    background: #fff;
                    display: none;
                    >a {
                        width: 220px;
                        height: 470px;
                        float: left;
                    }
                    .ify-left {
                        width: 113px;
                        height: 470px;
                        background: #f1f1f1;
                        float: left;
                        p {
                            width: 113px;
                            text-align: center;
                            height: 37px;
                            line-height: 37px;
                        }
                        p:nth-child(1) {
                            height: 73px;
                            line-height: 73px;
                        }
                    }
                    .ify-left-wine {
                        width: 113px;
                        height: 470px;
                        background: #f1f1f1;
                        float: left;
                        p {
                            width: 113px;
                            text-align: center;
                            height: 37px;
                            line-height: 37px;
                        }
                        p:nth-child(5),
                        p:nth-child(7) {
                            height: 73px;
                            line-height: 73px;
                        }
                        p:nth-child(6) {
                            height: 110px;
                            line-height: 110px;
                        }
                    }
                    .ify-right {
                        float: left;
                        width: 442px;
                        ul {
                            width: 350px;
                            height: 470px;
                            margin: 0 auto;
                            li {
                                height: auto;
                                width: 350px;
                                border-bottom: solid 1px #cecece;
                                overflow: hidden;
                                a {
                                    display: block;
                                    padding: 10px;
                                    float: left;
                                    span {
                                        color: orangered;
                                    }
                                    &:hover {
                                        color: #CC0001;
                                    }
                                }
                            }
                        }
                    }
                    .ify-right-noimg {
                        float: left;
                        width: 662px;
                        ul {
                            width: 570px;
                            height: 470px;
                            margin: 0 auto;
                            li {
                                height: auto;
                                width: 570px;
                                border-bottom: solid 1px #cecece;
                                overflow: hidden;
                                a {
                                    display: block;
                                    padding: 10px;
                                    float: left;
                                    span {
                                        color: orangered;
                                    }
                                    &:hover {
                                        color: #CC0001;
                                    }
                                }
                            }
                        }
                    }
                    .ify-left-tea {
                        width: 113px;
                        height: 470px;
                        background: #f1f1f1;
                        float: left;
                        p {
                            width: 113px;
                            text-align: center;
                            height: 37px;
                            line-height: 37px;
                        }
                        p:nth-child(2) {
                            height: 73px;
                            line-height: 73px;
                        }
                    }
                    .ify-left-yangjiu {
                        width: 113px;
                        height: 470px;
                        background: #f1f1f1;
                        float: left;
                        p {
                            width: 113px;
                            text-align: center;
                            height: 73px;
                            line-height: 73px;
                        }
                        p:nth-child(3) {
                            height: 37px;
                            line-height: 37px;
                        }
                    }
                }
            }
        }
        .listbox {
            float: left;
            li {
                position: relative;
                float: left;
                a {
                    display: block;
                    padding: 0 20px;
                    color: #fff;
                    line-height: 34px;
                    font-size: 13px;
                    &:hover {
                        background: #b40c10;
                    }
                }
                i {
                    position: absolute;
                    width: 29px;
                    height: 17px;
                    top: -7px;
                    right: 3px;
                }
            }
        }
    }
}

section {
    width: 1200px;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
    margin-top: 10px;
    #left {
        width: 200px;
        height: auto;
        float: left;
        margin-right: 10px;
        h3 {
            font-weight: bold;
            color: #666;
            width: 200px;
            height: 40px;
            font-size: 14px;
            line-height: 40px;
            background: #fafafa;
            border: solid 1px #cecece;
            text-indent: 10px;
        }
        ul {
            width: 200px;
            height: auto;
            border: solid 1px #cecece;
            li {
                width: 180px;
                height: 240px;
                padding: 10px;
                img{
                    cursor: pointer;
                }
                p{
                    font-size: 12px;
                    color: #CF010E;
                    font-weight: bold;
                }
                a{
                    font-size: 12px;
                    &:hover{
                        color: #CC0001;
                        text-decoration: underline;
                    }
                }
            }
        }
    }
    #right {
        float: left;
        width: 990px;
        font-size: 12px;
       
        .listbox {
            width: 990px;
            
            .listbox-top {
                height: 38px;
                line-height: 38px;
                border-top: solid 2px #B40C10;
                p {
                    float: left;
                    width: 290px;
                    position: relative;
                    i {
                        margin: 0 20px;
                        
                    }
                    .cx {
                            width: 120px;
                        }
                        .ss {
                            position: absolute;
                            width: 15px;
                            height: 15px;
                            right: 10px;
                           top: 50%;
                           margin-top: -7px;
                            border: 0;
                            background: #fff url(../img/srpIcons.png) no-repeat -30px 0;
                        }
                        a{
                            &:hover{
                                color: #CC0001;
                                text-decoration: underline;
                            }
                        }
                }
                span{
                    float: right;
                    i{
                        color: #CC0001;
                    }
                }
            }
            .listbox-mid{
                width: 990px;
                 height: auto;
                >div{
                    height: auto;
                    overflow: hidden;
                    border: solid 1px #cecece;
                    h3{
                        width: 115px;
                        height: 78px;
                        background: #f1f1f1;
                        float: left;
                        font-size: 12px;
                        color: #CC0001;
                        p{
                            padding: 10px;
                        }
                    }
                    div{
                        width: 872px;
                        float: left;
                        a{
                            color: #999;
                            float: left;
                            margin:3px 8px;
                            padding: 2px;
                            &:hover{
                               
                               background: #CC0000;
                               color: #fff;
                            }
                        }
                    }
                }
            }
            
        }
        
        .cont{
           width: 990px;
           height: auto;
           ul{
               width: 990px;
               li{
                   float: left;
                   width: 225px;
                   height: 398px;
                   padding: 10px;
                 img{
                      width: 220px;
                       height: 220px;
                       cursor: pointer;
                   }
                   p{
                       color: #CC0001;
                       font-size: 20px;
                       width: 100%;
                       margin:5px 0  ;
                   }
                   a{
                      float: left;
                      width: 100%;
                      height: 30px;
                      color: black;
                      &:hover{
                          color: #CC0001;
                      }
                   }
                    .onea{
                     
                    }
                    .twoa{
                        color: cornflowerblue;
                        margin: 5px 0 ;
                    }
                   span{
                       float: left;
                       width: 100%;
                       margin: 5px 0;
                   }
                   .cat{
                       border: 0;
                       width: 80px;
                       height: 25px;
                       padding: 0 15px;
                       border: solid 1px #ddd;
                       color: #cf010e;
                       background: #fff url(../img/srpIcons.png) no-repeat -250px -3px;
                       line-height: 25px;
                       text-align: right;
                      &:hover{
                          background: #CF010E url(../img/srpIcons.png) no-repeat -250px -33px;; 
                          color: #fff;
                      }
                     
                       
                   }
               }
           } 
        }
        
    }
}



#maimaimai{
    width: 290px;
    height: 90px;
    border: solid 8px rgba(0,0,0,0.7);
    padding: 30px 20px;
    background: #fff;
    z-index: 5;
    position:fixed;
    margin: auto ;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    font-size: 12px;
    display: none;
    i{
       float: left;
        width: 32px;
        height: 32px;
        background: url(../img/lsp_bt2n.png) no-repeat 0 0;
    }
    h3{
     margin-left: 50px;
        font-size:16px;
     margin-bottom: 20px;
    }
    p{
        margin-left: 50px;
        color: #666;
        margin-bottom: 20px;
    }
    a{
        margin-left: 50px;
        
        color: #ca1728;
    }
    a:nth-of-type(2){
        padding: 3px 10px;
        background: #ca1728;
        color: #fff;
        border-radius: 4px;
            
            }
}
