section {
  position: relative;
  width: 100%;
  height: 600px;
  background: url(../img/login/banner.jpg) no-repeat center; }
  section #login {
    width: 310px;
    height: 365px;
    background: #fff;
    position: absolute;
    top: 50%;
    margin-top: -202px;
    right: 257px;
    padding: 20px; }
    section #login .userlogin {
      width: 270px;
      height: 100%;
      margin: 0 auto; }
      section #login .userlogin .user-top {
        width: 270px;
        height: 40px;
        border-bottom: solid 1px #999;
        line-height: 40px; }
        section #login .userlogin .user-top b {
          position: absolute;
          width: 63px;
          height: 63px;
          background: url(../img/regLogin-8.png) no-repeat 0 -230px;
          cursor: pointer;
          top: 0;
          right: 0; }
        section #login .userlogin .user-top i {
          color: #e4393c;
          font-weight: bold;
          cursor: pointer; }
          section #login .userlogin .user-top i:hover {
            text-decoration: underline; }
        section #login .userlogin .user-top span:nth-of-type(1) {
          margin: 0 20px;
          height: 13px;
          display: inline-block;
          border-right: solid 1px #aaa; }
        section #login .userlogin .user-top span:nth-of-type(2) {
          color: #999;
          cursor: pointer; }
          section #login .userlogin .user-top span:nth-of-type(2):hover {
            text-decoration: underline; }
    section #login .usercont {
      height: auto; }
      section #login .usercont div {
        width: 270px;
        height: 40px;
        position: relative;
        margin: 20px 0;
        font-size: 12px;
        color: #999; }
        section #login .usercont div em {
          width: 43px;
          height: 40px;
          display: flex;
          position: absolute;
          align-items: center;
          justify-content: center;
          background: #f3f3f3;
          top: 0;
          left: 0;
          border: solid 1px #ccc; }
          section #login .usercont div em i {
            width: 20px;
            height: 21px; }
        section #login .usercont div #yzm {
          position: absolute;
          height: 43px;
          padding: 0 10px;
          line-height: 43px;
          right: 0;
          top: 0;
          text-align: center; }
        section #login .usercont div b {
          position: absolute;
          right: 0;
          bottom: -15px;
          height: 20px;
          background: #ed787f;
          color: #fff;
          padding: 0 5px;
          line-height: 20px;
          display: none; }
      section #login .usercont input {
        width: 188px;
        height: 40px;
        padding: 0 40px;
        border: solid 1px #cecece;
        text-indent: 10px; }
      section #login .usercont .userbtn {
        width: 270px;
        padding: 0;
        background: #CC0000;
        color: #fff;
        text-align: center;
        line-break: 40px;
        font-size: 18px;
        border: 0;
        border-radius: 2px; }
      section #login .usercont .usercok {
        width: 12px;
        height: 12px; }
      section #login .usercont .chkbox {
        width: 80px;
        float: left; }
      section #login .usercont > a {
        font-size: 12px;
        float: right;
        margin: 20px;
        color: #999; }
        section #login .usercont > a:hover {
          text-decoration: underline; }
      section #login .usercont > span {
        font-size: 12px;
        margin: 20px 0;
        float: right;
        color: dodgerblue;
        cursor: pointer; }
        section #login .usercont > span:hover {
          text-decoration: underline; }
    section #login .userbtm {
      position: absolute;
      bottom: 0;
      width: 270px;
      margin: 0 auto;
      height: 50px;
      border-top: solid 1px #aaa;
      line-height: 50px;
      font-size: 12px;
      color: #999; }
      section #login .userbtm span {
        float: left;
        margin-right: 10px; }
      section #login .userbtm a {
        float: left;
        width: 30px;
        height: 30px;
        margin: 10px 5px; }
      section #login .userbtm a:nth-of-type(1) {
        background: url(../img/regLogin-8.png) no-repeat 0 -35px; }
        section #login .userbtm a:nth-of-type(1):hover {
          background-position: 0 -86px; }
      section #login .userbtm a:nth-of-type(2) {
        background: url(../img/regLogin-8.png) no-repeat -51px -35px; }
        section #login .userbtm a:nth-of-type(2):hover {
          background-position: -51px -86px; }
      section #login .userbtm a:nth-of-type(3) {
        background: url(../img/regLogin-8.png) no-repeat -102px -35px; }
        section #login .userbtm a:nth-of-type(3):hover {
          background-position: -102px -86px; }
      section #login .userbtm a:nth-of-type(4) {
        background: url(../img/regLogin-8.png) no-repeat -153px -35px; }
        section #login .userbtm a:nth-of-type(4):hover {
          background-position: -153px -86px; }
    section #login .telcont {
      display: none; }
      section #login .telcont div {
        width: 188px;
        height: 40px;
        position: relative;
        margin: 20px 0;
        font-size: 12px;
        color: #999; }
        section #login .telcont div em {
          width: 43px;
          height: 40px;
          display: flex;
          position: absolute;
          align-items: center;
          justify-content: center;
          background: #f3f3f3;
          top: 0;
          left: 0;
          border: solid 1px #ccc; }
          section #login .telcont div em i {
            width: 20px;
            height: 21px; }
        section #login .telcont div b {
          position: absolute;
          height: 43px;
          width: 60px;
          line-height: 43px;
          right: -80px;
          top: 0;
          overflow: hidden;
          text-align: center; }
      section #login .telcont input {
        width: 188px;
        height: 40px;
        padding: 0 40px;
        border: solid 1px #cecece;
        text-indent: 10px; }
      section #login .telcont .userbtn {
        width: 270px;
        padding: 0;
        background: #CC0000;
        color: #fff;
        text-align: center;
        line-break: 40px;
        font-size: 18px;
        border: 0;
        border-radius: 2px; }
      section #login .telcont .telyz {
        width: 270px; }
        section #login .telcont .telyz input {
          float: left;
          width: 70px; }
        section #login .telcont .telyz > span {
          float: right;
          display: block;
          height: 42px;
          width: 110px;
          background: #ccc;
          border-radius: 3px;
          text-align: center;
          line-height: 40px;
          cursor: pointer;
          color: black; }
    section #login .ewmcont {
      width: 310px;
      height: 365px;
      display: none; }
      section #login .ewmcont h2 {
        width: 200px;
        height: 40px;
        text-indent: 20px;
        line-height: 40px;
        font-weight: bold;
        font-size: 16px;
        color: #666; }
      section #login .ewmcont > i {
        position: absolute;
        width: 63px;
        height: 66px;
        right: 0;
        top: 0;
        cursor: pointer;
        background: url(../img/regLogin-8.png) no-repeat -80px -230px; }
      section #login .ewmcont .code {
        margin-top: 30px;
        width: 310px;
        height: 200px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column; }
        section #login .ewmcont .code img {
          width: 150px;
          height: 150px; }
        section #login .ewmcont .code > div {
          font-size: 12px; }
          section #login .ewmcont .code > div i {
            display: block;
            width: 32px;
            height: 30px;
            background: url(../img/regLogin-8.png) no-repeat -270px -150px;
            float: left;
            margin: 0 10px; }
          section #login .ewmcont .code > div p {
            width: 90px;
            float: left; }
            section #login .ewmcont .code > div p > b {
              color: red; }
      section #login .ewmcont .ewmbtm {
        height: 270px;
        height: 40px;
        margin-top: 70px;
        font-size: 12px;
        text-align: right; }
        section #login .ewmcont .ewmbtm a {
          margin: 10px; }
          section #login .ewmcont .ewmbtm a:hover {
            text-decoration: underline; }
