@charset "UTF-8";
html,
body,
ul,
li,
dl,
dt,
dd,
p,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
form,
img,
table,
fieldset,
legend,
figure {
  margin: 0;
  padding: 0; }

ul,
li,
ol {
  list-style: none; }

img,
fieldset {
  border: 0; }

img {
  display: block; }

a {
  text-decoration: none;
  color: #333; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 100; }

body {
  font-family: "微软雅黑"; }

input,
a {
  outline: none; }

i,
em {
  font-style: normal; }

b,
strong {
  font-weight: normal; }

html,
body {
  height: 100%;
  width: 100%; }

header {
  width: 100%;
  height: 88px;
  border-bottom: solid 1px #fff;
  box-shadow: 0 1px 10px #CECECE; }
  header .warp {
    height: 68px;
    width: 1000px;
    margin: 0 auto;
    position: relative;
    font-size: 12px;
    padding: 15px 0 5px 0; }
    header .warp .head-left {
      width: 300px;
      float: left; }
      header .warp .head-left h1 {
        float: left;
        width: 140px;
        height: 63px; }
        header .warp .head-left h1 a {
          display: block;
          width: 140px;
          height: 63px;
          background: url(../../img/logo.jpg) no-repeat; }
      header .warp .head-left img {
        float: left; }
    header .warp .head-right {
      padding-top: 30px;
      width: 300px;
      float: right; }
      header .warp .head-right p {
        color: #999;
        float: left;
        padding: 2px; }
      header .warp .head-right > a {
        float: left;
        color: dodgerblue;
        padding: 2px;
        margin: 0 20px; }
        header .warp .head-right > a:hover {
          text-decoration: underline; }
      header .warp .head-right span {
        color: #333333;
        float: left;
        cursor: pointer;
        padding: 2px;
        position: relative;
        text-indent: 5px;
        border: #fff solid 1px; }
        header .warp .head-right span:hover {
          border: #aaa solid 1px; }
          header .warp .head-right span:hover ul {
            z-index: 3;
            display: block; }
        header .warp .head-right span i {
          float: right;
          margin: 2px 4px;
          width: 15px;
          height: 14px;
          background: url(../img/regLogin-8.png) no-repeat -23px 0; }
        header .warp .head-right span ul {
          width: 82px;
          position: absolute;
          left: 0;
          bottom: -104px;
          display: none;
          background: #fff; }
          header .warp .head-right span ul li {
            width: 80px;
            height: 24px;
            border: solid 1px #ccc;
            line-height: 24px;
            text-indent: 5px; }
            header .warp .head-right span ul li a {
              color: #999; }
              header .warp .head-right span ul li a:hover {
                text-decoration: underline; }

footer {
  margin-top: 50px;
  height: 100px;
  width: 100%;
  text-align: center; }
  footer p {
    font-size: 12px;
    line-height: 30px; }
  footer span {
    font-size: 12px;
    color: red; }
